[2018-04-19 01:05] nbarbettini opened #5 "Library User-Agent"
This library should report the user agent `okta-aspnet/{ver}` as described here: https://oktawiki.atlassian.net/wiki/spaces/PM/pages/237672215/User+Agents

- [ ] Create a class that generates the user agent string (you can use [this](https://github.com/stormpath/stormpath-dotnet-owin-middleware/blob/164f1aa21690bda65d6dde2082ca5d00ab3ddc38/src/Stormpath.Owin.Middleware/Internal/DefaultFrameworkUse

[2018-04-26 19:31] laura-rodriguez opened #7 "Configuring Okta.AspNet.WebApi.IntegrationTests from environment variables and adding these tests to Cake"
Now we have integration tests but are configured via web.config.
We have to change this approach to get the configuration parameters from the environment variables. By doing this, we can set up our CI server and run this tests on it.

[2018-04-26 19:34] laura-rodriguez opened #8 "Adding Okta.AspNet.Mvc.IntegrationTests"
* Research best approaches to run integration tests with ASP.NET 4.X + OWIN.
* Implement integration tests and configure them using env vars
* Add tests to cake

[2018-04-27 19:11] nbarbettini opened #9 "Make SDK available via middleware"
When I use the middleware in my ASP.NET project, I should also get access to the Okta SDK. The goal is to make it super easy for a developer to start using the middleware for basic authn/authz, and then optionally use the SDK to do additional tasks via the Okta API.

However, we should only do this after `Okta.Sdk` has a stable release. (not prerelease as it is today)

- [ ] Make `Okta.AspNet` dep

[2018-05-08 20:38] nbarbettini opened #14 "Switch to OktaDomain"
Background: https://oktawiki.atlassian.net/wiki/spaces/UX/pages/470681125/Developer+Experience+-+Okta+Domain+Labels

- [x] Switch `OrgUrl` to `OktaDomain` in options object
- [x] Update quickstarts to use `https://{yourOktaDomain}` (no `.com`)

[2018-05-15 19:17] nbarbettini opened #16 "Hook up build script to repo"
- [ ] Builds should run on every commit
- [ ] Merging to master should be blocked on a successful build

[2018-06-08 14:54] #14 closed, assigned to nobody

[2018-06-08 14:57] #5 closed, assigned to laura-rodriguez

[2018-06-13 22:31] nbarbettini opened #20 "Chore: update readme and documentation after publishing"

[2018-06-13 22:49] nbarbettini opened #21 "Chore: update dependencies"
A few internal dependencies have patch versions we can apply. After that, re-test to make sure nothing broke.

[2018-06-13 22:54] nbarbettini opened #22 "Chore: rename some configuration classes"
- [ ] `OktaOptions` to `OktaWebOptions`
- [ ] `OktaMvcOptions` to `OktaWebMvcOptions`

Then:

- [ ] Change the namespace of `OktaWebOptions` to `namespace Okta`
- [ ] Change the namespace of `OktaWebMvcOptions` to `namespace Okta`
- [ ] Change the namespace of `OktaWebApiOptions` to `namespace Okta`

[2018-06-27 19:05] #22 closed, assigned to laura-rodriguez

[2018-07-06 00:04] justinhelgerson opened #25 "Okta Widget + ASP.NET Core"
I haven't seen any documentation on how to use Okta on ASP.NET (Core or pre-Core) with a social IdP (Google, Facebook, etc).  Getting up and running with Okta via the OIDC middleware is a breeze, but it doesn't account for the social workflow as far as I can see.  In my scenario, I'd like to support Okta user account authentication in addition to social.

The [documentation](https://developer.okta

[2018-07-10 17:17] nbarbettini commented on #25
Hey @justinhelgerson! This is a good question, sorry about the delayed response.

It is possible to get social login + ASP.NET Core working, although it isn't as straightforward as it should be (yet). We're still iterating on our .NET story and we need to do some more documentation here. I built a sample that might be helpful: https://github.com/nbarbettini/okta-aspnetcore-social-login-example
(Th

[2018-07-10 22:57] nbarbettini opened #26 "Update ASP.NET quickstart with beta code"
Update this quickstart: https://developer.okta.com/quickstart/#/okta-sign-in-page/dotnet/aspnet4
(Both the Sign-in Page and API versions)

- [ ] Demonstrate using the [Okta.AspNet package](https://www.nuget.org/packages/Okta.AspNet) package and new code (this will require the user to check **Include prerelease** or use `-pre` when installing)
- [ ] Include the below beta warning

[2018-07-10 22:58] nbarbettini opened #27 "Update ASP.NET Core quickstart with beta code"
Update this quickstart: https://developer.okta.com/quickstart/#/okta-sign-in-page/dotnet/aspnetcore
(Both the Sign-in Page version and API version)

- [ ] Demonstrate using the [Okta.AspNet package](https://www.nuget.org/packages/Okta.AspNetCore) package and new code (this will require the user to check **Include prerelease** or use `-pre` when installing)
- [ ] Include the below beta warning

[2018-07-10 23:28] nbarbettini opened #28 "Update ASP.NET quickstart for stable release"
After we release a 1.0.0 stable, update the ASP.NET quickstart (both redirect and API versions):

- [ ] Remove the beta warning

[2018-07-10 23:28] nbarbettini opened #29 "Update ASP.NET Core quickstart for stable release"
After we release a 1.0.0 stable, update the ASP.NET Core quickstart (both redirect and API versions):

- [ ] Remove the beta warning

[2018-07-11 00:33] justinhelgerson commented on #25
This example definitely helps, but I think the UX will be confusing for some of my customers.  It requires the user to make a choice (through links or buttons) between which login path to go down: Okta or IdP #1, #2, etc).  I think it would be more intuitive if there was a way to show the username and password inputs and then provide additional IdP paths (like the widget does).  I'm surprised the

[2018-07-17 20:51] justinhelgerson commented on #25
I updated the title of this issue to be a bit more targeted.  I think having an example of using the Okta Widget with ASP.NET Core is the real issue here.  Right now it's not possible to hook into the OIDC middleware of ASP.NET with the widget (correlation validation fails).

[2018-08-14 17:37] nbarbettini opened #30 "Turn on Travis testing"

[2018-08-20 22:23] coreyperkins opened #31 "Add CustomAuthPage Url as a option."
After working with Okta via the standard OWIN middleware (not this repo) I noticed that the asp.net/OWIN way of redirecting to a custom authentication page is rather heinous. It requires tinkering with the Cookie and OIDC middleware bits, including AuthenticationMode, etc...all just to redirect to a different domain/url.

As a convenience for developers (who don't like writing excess c# to do a si

[2018-08-21 02:49] justinhelgerson commented on #31
@coreyperkins Could you share some more details about what you were looking to achieve here?  Describing the flow of events could be helpful.

I'm not affiliated with Okta, but I also ended up hacking the ASP.NET middleware a bit to get my UX right.  I was considering building a proper middleware for my scenario, so I'm curious what you were doing.

[2018-08-21 14:15] nbarbettini commented on #31
I'm also curious about both of your use cases. Mind answering a few questions? Or, if you shoot me an email at nate.barbettini@okta.com I'd love to set up a quick 15-minute call to pick your brain.

* Why do you need a custom login page?
* Is there a reason you can't customize the Okta-hosted login page enough for your needs?
* What hacking did you have to do at the middleware layer to get this to

[2018-08-22 18:08] coreyperkins commented on #31
@justinhelgerson Absolutely! We have several applications (of varying tech, ASP.NET, NodeJS, etc) that authenticate through Okta. Currently we are using the Okta-hosted login page with a small hack in place to make sure when it is used from a calling app we get redirected back to the right application. We literally just added a redirect parameter onto the Okta-hosted login page (customauthdomain.c

[2018-08-27 17:12] nbarbettini opened #32 "Add & update configuration guards"
From https://oktawiki.atlassian.net/wiki/spaces/PM/pages/552049922/Proposal+configuration+copypasta+guard

- [ ] OktaDomain is null or empty
- [ ] OktaDomain contains `{yourOktaDomain}`
- [ ] OktaDomain contains `-admin.okta.com`, `-admin.oktapreview.com`, or `-admin.okta-emea.com`
- [ ] OktaDomain ends with `.com.com`
- [ ] Client ID is null or empty
- [ ] Client ID contains `{clientId}`

For `Ok

[2018-08-29 15:13] laura-rodriguez opened #34 "Bump version to 1.0.0"
Remove beta from project version.

[2018-08-31 18:13] coreyperkins commented on #31
Just a note, we've moved to a login page per app now in order to get around the issues mentioned above. This is working for us, but we would like to be able to use the Okta-hosted login page if it is updated to handle our scenario. We'd be fine using a central login page we host ourselves, too, if that becomes an option later with this project.

[2018-09-04 13:53] nbarbettini opened #37 "Extract documentation from readme"
The readme currently serves 4 different use cases (ASP.NET 4.x/Core + MVC/Web API). Let's split it up so the readme only contains:

* Okta ASP.NET middleware
* What you need
* Links to quickstarts, doc pages*, and sample applications
* Contributing
* Getting help

*The doc pages will be new. Create a file in a new `docs` folder for each of:
* ASP.NET 4.x (MVC) - `docs/aspnet4x-mvc.md`
* ASP.NET 4.

[2018-09-05 16:55] nbarbettini opened #39 "Library configuration checks"
Can you do a check to make sure the config checks in this library match the wiki?

https://oktawiki.atlassian.net/wiki/spaces/PM/pages/552049922/Library+configuration+checks

I've made a few (final) updates.

[2018-09-06 17:37] laura-rodriguez opened #40 "Include .NET 4.5.2 projects to be built by Travis"

[2018-09-06 19:40] #32 closed

[2018-09-13 15:36] laura-rodriguez commented on #34
Resolved by #35

[2018-09-13 15:36] #34 closed

[2018-09-17 18:39] #31 closed

[2018-09-19 20:09] laura-rodriguez commented on #29
Resolved by #34

[2018-09-19 20:09] #29 closed

[2018-09-19 20:11] laura-rodriguez commented on #26
Resolved by #34 & [#1967](https://github.com/okta/okta.github.io/pull/1967)

[2018-09-19 20:11] #26 closed

[2018-09-19 20:11] laura-rodriguez commented on #28
Resolved by #34

[2018-09-19 20:11] #28 closed

[2018-09-19 20:12] laura-rodriguez commented on #27
Resolved by #34 & [#2048](https://github.com/okta/okta.github.io/pull/2048)

[2018-09-19 20:12] #27 closed

[2018-09-24 22:59] dancarlstedt opened #46 "Add Support for multiple client id validation in StrictTokenHandler"
I would like to use this nuget package to hookup my Web API, however my API serves multiple clients and this middleware will only allow for a single client to be used because of the [StrictTokenHandler.cs](https://github.com/okta/okta-aspnet/blob/master/Okta.AspNet.Abstractions/StrictTokenHandler.cs) validation.

[code]

I would like to propose either of the following options:
- change `ClientId`

[2018-09-25 18:19] nbarbettini commented on #46
Hey @dancarlstedt! Thanks for the well-described feature request.

This is something we are working on already. Are you okay to wait for our next minor release?

[2018-09-26 13:47] dancarlstedt commented on #46
Hey @nbarbettini. Yes we can wait until after the next minor release. Do you mind sharing how you will be supporting this scenario? White list or Injecting something? Or something different all together.

[2018-09-26 18:48] laura-rodriguez opened #48 "Report different user-agent strings for ASP.NET Core and ASP.NET 4.5"

[2018-10-10 20:30] laura-rodriguez opened #50 "Bump Asp.Net projects versions"
Okta.AspNet.Abstractions -> 1.1.0
Okta.AspNet & Okta.AspNetCore -> 1.2.0

Features

* Report user agents #48

@nbarbettini ^

[2018-10-11 17:13] #48 closed

[2018-10-15 19:38] justinhelgerson commented on #31
@nbarbettini This is a super late response.  Long story short I wasn't sure if we were going to become an Okta customer or not so I didn't want to chew up your time.  Now that we are officially moving forward with Okta, I'll come back to this and provide some details on why the Okta hosted page wasn't working for us.

[2018-10-18 04:19] BrentSouza opened #51 "Include id_token in ResponseType"
In the AspNet version of the extensions, the ResponseType is set to do code and id_token

[code]

However, in the AspNetCore version, it's just code:

[code]

This prevents returning group claims since the groups scope only works with ID tokens. Is this an intentional change in behavior?

[2018-10-18 19:48] laura-rodriguez commented on #51
Hi @BrentSouza,

If you want to include `groups` as part of your claims, then you should go to your `Okta Dashboard > API > Authorization Server`. Once you select the AS you are using go to `Claims` tab and select `Add Claim`.
Select `Groups` in `Value Type` and then configure your desired configuration.

![image](https://user-images.githubusercontent.com/16751130/47179271-a9a35000-d2eb-11e8-83d6-

[2018-10-18 21:13] BrentSouza commented on #51
Thanks that does make sense but we are using the Okta organization auth server and not

[2018-10-18 21:27] laura-rodriguez commented on #51
@BrentSouza , what do you mean with a custom auth server?
Anyways, you could also consider the [Okta .NET SDK](https://github.com/okta/okta-sdk-dotnet) which allows you to manage Groups via the [Groups API](https://developer.okta.com/docs/api/resources/groups).

[2018-10-18 21:43] justinhelgerson commented on #51
I *think* the point @BrentSouza is making is that the [middleware for ASP.NET](https://github.com/okta/okta-aspnet/blob/ee8fc237b026b38b4d7e6e0707c3a3447069e2f2/Okta.AspNet/OktaMiddlewareExtensions.cs#L112) is specifying `CodeIdToken` whereas the [middleware for ASP.NET Core](https://github.com/okta/okta-aspnet/blob/ee8fc237b026b38b4d7e6e0707c3a3447069e2f2/Okta.AspNetCore/OktaAuthenticationOptions

[2018-10-18 22:19] BrentSouza commented on #51
@laura-rodriguez this is what I am referring to:

https://okta.github.io/docs/how-to/creating-token-with-groups-claim

In the link above the auth servers are referred to by the terminology: Okta and Custom

Right now I don’t have custom authorization servers enabled in my organizations oktapreview account so I am testing with the Okta auth server and manipulating the claims is not exposed.

@justi

[2018-10-19 13:29] nbarbettini commented on #51
The difference in response_type between the two libraries is just an implementation detail (actually a limitation of the Katana middleware the AspNet library is based on). Both libraries end up with both an access token and an ID token at the end of the login flow. Any scopes in the ID token should be available as claims on the .NET `ClaimsPrincipal`.

Just to double check on your use case @BrentS

[2018-10-19 14:20] BrentSouza commented on #51
@nbarbettini

Yes to all 3.

What happens is that the `ClaimsPrincipal` doesn't contain the `groups` claim. If I get the id_token explicitly and decode the jwt, that also does not have a `groups` claim. I am using the `okta-aspnetcore-mvc-example` project to test things out. Relevant bits below:

`Startup.cs`
[code]

`HomeController.cs`
[code]

`HttpContext.User.Claims` has the following claims:

[2018-10-29 18:16] #50 closed

[2018-10-30 01:03] nbarbettini commented on #46
@dancarlstedt Hey, sorry for the delay. We will be supporting this scenario by dropping client ID validation from `StrictTokenHandler`. The audience check will still happen, but we don't want to force resource servers to whitelist clients.

[2018-10-30 01:09] nbarbettini commented on #51
@BrentSouza Sorry that we haven't followed up yet! There's something here, but I need to do some more investigation. You're not missing anything obvious 🙂

In the mean time, are you able to use `AddOpenIdConnect` so you're not blocked?

[2018-10-31 20:11] laura-rodriguez commented on #30
Fixed by #38.

[2018-10-31 20:11] #30 closed

[2018-12-10 15:56] jharoutuniand2l commented on #46
Hey @nbarbettini - I am also very interested in this feature 👍
Is there any rough timeline for the next minor release?
Thanks!

[2018-12-28 18:16] laura-rodriguez commented on #46
Hi @jharoutuniand2l,
We have prioritized this issue for our next sprint. It's going to be released in a couple of days. Stay tuned!

[2019-01-03 03:00] nbarbettini opened #54 "Investigate better error message when OIDC discovery fails"
ASP.NET (4.x especially) tends to throw really unhelpful errors when retrieving the discovery document fails. For example: https://devforum.okta.com/t/401-status-on-login/3615

Is it possible to hook into any part of the MS OIDC middleware to detect this, and at the very least, throw a more helpful error message?

[2019-01-05 00:05] nbarbettini commented on #25
Resurrecting this old thread since we published some new samples. Does this example cover the use case you were wondering about? https://github.com/okta/samples-aspnetcore/tree/master/self-hosted-login

[2019-01-14 22:42] #46 closed

[2019-01-17 19:30] jamesmh opened #59 "An Alternative (Simpler) Initialization"
The [quick start docs for .NET Core](https://developer.okta.com/quickstart/#/okta-sign-in-page/dotnet/aspnetcore) have a code snippet for the initial Okta middleware setup to be used in the `ConfigureServices` method.

(This one 👇)

[code]

This is pretty simple 😊

I just want to throw out an alternative option for devs who:
- Want to test out the middleware a bit more quickly
- Don't need any add

[2019-01-22 21:39] laura-rodriguez commented on #59
Hi @jamesmh,

Thanks for your feedback ❤️! It sounds like a good idea.
I'll discuss this feature with the team and I'll get back to you soon.

[2019-01-23 13:43] jamesmh commented on #59
Great - thank you so much @laura-rodriguez !

[2019-02-01 18:31] laura-rodriguez commented on #59
Hi @jamesmh!
We all agreed this is a good idea 😄 . Are you still up to implement this?

[2019-02-01 18:55] jamesmh commented on #59
Yes I am 👍

I'll ask any questions etc. on this thread - I'm sure I'll have a few 😋

Thanks Laura!

[2019-02-01 19:07] laura-rodriguez commented on #59
You will have to sign our Okta Individual Contributor License Agreement. All the info you need is here: https://developer.okta.com/cla/

[2019-02-06 01:56] jamesmh commented on #59
I'll sign that off soon 👍

Question: In order to test the new extension method properly, it looks like I'll have to create a new integration test project - is that OK with you guys?

[2019-02-06 22:39] laura-rodriguez commented on #59
Hi @jamesmh,
Integration tests are welcome! We already have some projects created for this purpose, feel free to add your tests in there.

[2019-02-07 21:22] nbarbettini opened #63 "Update docs and samples to ASP.NET Core 2.2"
ASP.NET Core 2.2 has been out for a while now. We should update our quickstarts, readmes, and sample apps to show code and instructions compatible with ASP.NET Core 2.2.

[2019-03-01 23:28] rogerpincombe-okta opened #64 "Fix NameClaimType to solve ValidateAntiForgeryToken issue on ASP.NET MVC"
It appears that at https://github.com/okta/okta-aspnet/blob/master/Okta.AspNet/OktaMiddlewareExtensions.cs#L94 we are setting the name claim type to the literal string "name" when asp.net expects it to be set to ClaimTypes.NameIdentifier.

This is causing

when using the ValidateAntiForgeryToken functionality in ASP.NET.

We probably need to either update the "name" literal to ClaimTypes.NameIdent

[2019-03-06 21:33] phi1ipp opened #65 "add claims locally for .net core"
Would be nice to be able to inject few claims into User.Claims after a user is authenticated with Okta, based on some local user storage attributes.

Microsoft describes a way to achieve that in [https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-2.2](url). But it requires access to OpenId.Events hidden by OktaMvcOptions.

Is there any wor

[2019-03-14 17:55] laura-rodriguez opened #67 "Add PostLogoutRedirectUri property in the Okta.AspNetCore.OktaMvcOptions"

[2019-03-20 20:14] #67 closed

[2019-03-26 17:05] thecoops opened #70 "SignOutResult() Invalid_token Error"
My application was working fine using the Okta.AspNetCore v 1.1.4 middleware.  When I updated it to version 1.1.5, my app started throwing a 400 bad request error in the following line of code while logging out:

`return new SignOutResult(new[]
            {
                OktaDefaults.MvcAuthenticationScheme,
                CookieAuthenticationDefaults.AuthenticationScheme
            });`

I r

[2019-03-26 19:07] laura-rodriguez commented on #70
Hi @thecoops!
Sorry about the inconvenience.
I want to double check a few things:
* Are you using one of our [samples](https://github.com/okta/samples-aspnetcore)?
* Are you using the Okta-hosted login page or the self-hosted in your application?
* Do you have a `PostLogoutRedirectUri` set?

[2019-03-27 11:48] thecoops commented on #70
No, I'm not running one of your samples, but, I did base our code off the quick start guide.  We've built our own web application.
We are using the Okta-hosted login page.
Yes, our "PostLogoutRedirectUri" is set to `https://localhost:44319/signout/callback`

[2019-03-27 12:07] thecoops commented on #70
The error is getting trapped at line #195 of:

Sorry, that's about all I can help with...

[2019-04-15 19:49] jraadt opened #71 "Allow custom JwtBearerEvents to allow SignalR to work with Bearer tokens."
OktaWebApiOptions should include an option to set Events (JwtBearerEvents). This is needed to allow SignalR to work with Bearer tokens. See the example at https://docs.microsoft.com/en-us/aspnet/core/signalr/authn-and-authz?view=aspnetcore-2.2

[2019-04-15 20:56] lelandroling commented on #25
I'm also attempting to use social logins with the Okta widget, then push to the ASP.NET Core backend. The only way I'm able to do this currently is by parsing the URL once the id token is return from the authorize endpoint and the redirect occurs. Is this how it was envisioned? It would be ideal to not pass this along in the URL and attempt to use a form post or some other kind of response mode.

[2019-04-15 23:52] nbarbettini commented on #71
Hey @jraadt! Let me know if I am understanding your scenario correctly:

1. Your client/frontend app signs a user in and gets a token from Okta
2. This token is used to make authorized API calls from the frontend to your API
3. This token is also used to establish a connection from the client to a SignalR hub on your API
4. The SignalR JS client doesn't send the `Authorization: Bearer` header (it

[2019-04-16 01:57] jraadt commented on #71
@nbarbettini That's exactly right.

[2019-04-18 17:45] nbarbettini opened #73 "Add supported .NET versions to readme"
In the root README.MD file, we should mention which versions of .NET Framework and .NET Standard these packages are compatible with. Like this: https://github.com/okta/okta-sdk-dotnet#getting-started

[2019-04-18 22:16] nbarbettini commented on #73
Just noticed: we also need to mention the library version status (stable).

[2019-04-19 01:15] nbarbettini opened #74 "Add troubleshooting section"
Let's add a section to the readme called Troubleshooting. I moved this from the sign users in guide:

---

**Note:** If you are using .NET framework <4.6 or you are getting the following error: "The request was aborted: Could not create SSL/TLS secure channel." Make sure to include the following code in the `Application_Start` or Startup:

[code]

[2019-05-01 03:56] jraadt opened #75 "POST /authorization-code/callback throws 500"
I followed the [quick start](https://developer.okta.com/quickstart/#/okta-sign-in-page/dotnet/aspnetcore) and authentication seems to be working for the most part. But we're seeing a few 500's in our log files for POST requests to /authorization-code/callback. It definitely does not happen every time, but we're seeing it periodically in our logs from other users.

I haven't created /authorization-

[2019-05-02 18:10] laura-rodriguez commented on #16
Fixed by #30

[2019-05-02 18:10] #16 closed

[2019-05-02 18:12] #25 closed

[2019-05-02 18:13] laura-rodriguez commented on #25
[self-hosted sample](https://github.com/okta/samples-aspnetcore/tree/master/self-hosted-login) shows how to hook into the OIDC middleware of ASP.NET with the widget.

[2019-05-02 18:14] laura-rodriguez commented on #39
Fixed by #33

[2019-05-02 18:14] #39 closed

[2019-05-06 17:21] #74 closed

[2019-05-10 19:32] laura-rodriguez opened #77 "Self-hosted samples redirect to Okta instead of the self-hosted login"
When you are not authenticated and try to access a controller decorated with `[Authorize]` attribute, it redirects to Okta instead of the local sign in page.

[2019-05-10 19:36] laura-rodriguez commented on #77
See thread: https://github.com/okta/okta-aspnet/pull/42.

[2019-05-17 20:38] laura-rodriguez commented on #70
Hi @thecoops,

 Apologies that we haven't followed up yet! Are you still facing this issue?

[2019-05-17 22:33] thecoops commented on #70
I rolled back to the previous version and everything works fine. Haven’t tried the newer version again.

Mike

On May 17, 2019, at 4:38 PM, Laura Rodríguez <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @thecoops<https://github.com/thecoops>,

Apologies that we haven't followed up yet! Are you still facing this issue?

—
You are receiving this because you were mentioned.
Re

[2019-05-29 20:51] laura-rodriguez opened #80 "Document all public methods"
We have several public methods that are not documented in the code.

[2019-05-31 18:32] laura-rodriguez commented on #63
Fixed in [samples-aspnetcore](https://github.com/okta/samples-aspnetcore)

[2019-05-31 18:32] #63 closed

[2019-05-31 19:38] #64 closed

[2019-06-13 12:00] jaikeshsinghgithub commented on #70
Hi

I am trying with sample app. But still getting 404 Invalid_token Error. I switched back to Okta.AspNetCore 1.1.4, but still getting the same error

gsalunkhe

[2019-06-13 12:47] gsalunkhe commented on #70
Hi @laura-rodriguez

I tried with sample given,  okta-hosted-login. But getting same error. Can you tell to which all paces I should check for.

Thanks
gsalunkhe

[2019-06-13 15:02] laura-rodriguez commented on #70
Hi @gsalunkhe,

Sorry for the inconvenience. This error can be related to your configuration.
I would like to check a few things:

* Are you using ASP.NET core or 4.x?
* Are you using a custom Authorization Server? (Have you assigned a value diff to the default one to the AuthorizationServerId property?)
* Can you post your Okta configuration? Make sure to not post your secrets.

Thanks!

[2019-06-13 16:16] gsalunkhe commented on #70
Hi @laura-rodriguez

Please find answers below

- Are you using ASP.NET core or 4.x?

     I am using .NET core 2.1

- Are you using a custom Authorization Server? (Have you assigned a value diff to the default one to the AuthorizationServerId property?)

     Can you please explain more, I didn't understand the details.

- Can you post your Okta configuration? Make sure to not post your secrets.

[2019-06-13 16:26] laura-rodriguez commented on #70
There's no need for you to set `post_logout_redirect_uri` or `callback` in your Okta ASP.NET Core configuration. But you have to whitelist those values in your Okta App in your Dev Console. We have step-by-step instructions to sign users out of your application and Okta.
Please take a look at this guide: https://developer.okta.com/docs/guides/sign-users-out/aspnetcore/sign-out-of-okta/.

Let me kn

[2019-06-17 06:07] gsalunkhe commented on #70
Hi @laura-rodriguez

Thanks for your help

I need to add  options.SaveTokens = true;  to startup.cs.

Thanks
gsalunkhe

[2019-06-18 14:41] laura-rodriguez commented on #70
Hi @gsalunkhe,
I'm glad you fixed it.
I'm curious, are you using the Okta ASP.NET SDK or the OIDC middleware?
In the Okta ASP.NET SDK that configuration is already set: https://github.com/okta/okta-aspnet/blob/master/Okta.AspNetCore/OpenIdConnectOptionsHelper.cs#L35.

[2019-06-21 15:20] #65 closed

[2019-07-09 19:20] insideou7 opened #85 "RedirectUri property missing from Okta.AspNetCore package"
I need to set the RedirectUri because my app is running behind a virtual directory. Setting that up locally in Core is a bit messy right now, so it might not be configured somewhere it needs to be. In any case Okta is taking http://localhost/MyApp and turning the RedirectUri to just http://localhost. I'm guessing this would affect apps behind a proxy as well.

[2019-07-12 16:41] laura-rodriguez opened #86 "Update README with token customization examples"

[2019-07-13 19:05] jabil-rg02 opened #87 "Code examples not working - OktaDomain not being picked up in settings files"
We've decided to put Okta support on hold.  I could not find any AspNetCore projects or MVC 5 code examples on GitHub repository that work and no response from support.

Test Name:	Okta.AspNetCore.Mvc.IntegrationTest.MiddlewareShould.RedirectWhenAccessToProtectedRouteWithoutSignedInAsync
Test FullName:	Okta.AspNetCore.Mvc.IntegrationTest.MiddlewareShould.RedirectWhenAccessToProtectedRouteWithoutSi

[2019-07-15 15:45] laura-rodriguez commented on #87
Hi @jabil-rg02,
We apologize for the inconvenience. The Configuration object maps configuration from different providers (i.e Env Vars, JSON files, etc). Maybe your `appsettings.json` is being overwritten by something else. Can you debug the following code in your `Startup` class to verify what is mapped to your Okta values?
[code]
https://github.com/okta/samples-aspnetcore/blob/master/okta-hosted

[2019-07-16 00:14] jabil-rg02 commented on #87
I wasn't able to get that example working. I modified the Visual Studio template to work with Okta defaults and provided some screen shots on the readme.md.  Feel free to pull the code example and use, I've checked it in to github for our purposes.

Thank You!

[2019-07-16 00:18] #87 closed

[2019-07-18 14:46] laura-rodriguez commented on #85
Hi @insideou7 ,
You can use the `CallbackPath` property : https://github.com/okta/okta-aspnet/blob/master/Okta.AspNetCore/OktaMvcOptions.cs#L31.

We need to update the README since it's referring to `RedirectUri` instead of `CallbackPath`.

[2019-07-18 14:48] laura-rodriguez opened #90 "Update OktaMvcOptions ASP.NET Core reference"
`RedirectUri` has to be renamed to `CallbackPath`.

[2019-07-19 14:04] #77 closed

[2019-07-19 18:38] laura-rodriguez commented on #87
Hi @jabil-rg02 ,

Have you tried to assign those values directly as I showed you above?

Not sure if the secrets you've posted in the `appsettings` file in the PR are the ones you are using now, but if so, I highly recommend you to invalidate them. As apparently is the `OktaDomain` which is failing there's no need to test it with valid client id/secret :).

I've pulled your PR but it has multiple

[2019-07-19 18:57] laura-rodriguez commented on #87
Also, can you give more background of how is your Login flow?

[2019-07-24 14:44] jabil-rg02 commented on #87
I included screenshots in the pull request.   The readme file shows all the Okta settings and the code example running

[2019-07-24 21:49] laura-rodriguez opened #93 "Expand Configuration Reference section in the README"
Similar to what we do here: https://github.com/okta/okta-sdk-dotnet#configuration-reference

[2019-08-01 18:13] #85 closed

[2019-08-01 20:57] laura-rodriguez commented on #51
Hi @BrentSouza ,
I know it's been a while since you opened this issue (Sorry about that!), but we finally fixed this recently as part of another task.
Now, In ASP.NET Core, if you set the property `OktaMvcOptions.GetClaimsFromUserInfoEndpoint = true` all the claims will be attached to the principal, `groups` among them.
You can see the details of the implementation [here](https://github.com/okta/o

[2019-08-01 20:58] laura-rodriguez commented on #51
Fixed by #83.

[2019-08-01 20:58] #51 closed

[2019-08-14 05:47] kedar9444 opened #94 "How to validate access tokens against expiration time"
How to validate tokens against expiration time in .net core.

[2019-08-29 20:41] laura-rodriguez commented on #94
Hi @kedar9444 ,

Can you give me more information about your use case?
Is it an MVC application or a WEB API?

[2019-09-25 12:53] StephaneCT opened #98 "Would it be possible to get a working sample with the latest versions of your dll and identitymodel 4?"
Would it be possible to get a working sample with the latest versions of your dll and identitymodel 4?
okta-hosted-login is the one i’d like
Identity Model 4.0 and Okta Asp.Net 1.4.0

Thanks
–steph

[2019-10-08 16:05] kedar9444 commented on #94
its .net core webapi application which receives token from angular app.

[2019-10-27 12:41] Nithin-Mahendran opened #100 "Add .net core 3 support"
This SDK does not work dotnet core 3.0. Can we have the SDK build for the newer version of dotnet?

[2019-10-29 12:22] Zzarek commented on #100
@Nithin-Mahendran

I have it running in .net core 3, but I had to make disable the new EndpointRouting functionality.

Within configure services:

`            services.AddMvc(options => { options.EnableEndpointRouting = false; }).SetCompatibilityVersion(CompatibilityVersion.Version_3_0);
`

Then disable the routing and use "app.UseMvc();" in the configure method.

So while this makes it behave li

[2019-10-29 14:25] laura-rodriguez commented on #98
Hi @StephaneCT,

So sorry for the late response!
I need to discuss with the team the priority of this issue since we are working on other .NET projects at the moment. Anyways, I have a couple of questions:

* What .NET version are you using?
* What are the features of IdentityModel 4.0.0 that you want to use?
* Are you blocked?

[2019-10-29 14:41] laura-rodriguez commented on #94
Hi @kedar9444 ,

Sorry we haven't followed up yet!

We already validate the expiration time in Web API. We use the [`DefaultTokenValidationParameters`](https://github.com/okta/okta-aspnet/blob/master/Okta.AspNet.Abstractions/DefaultTokenValidationParameters.cs#L14), which has `RequireExpirationTime = true`.

Isn't it working for you?

[2019-10-29 14:49] laura-rodriguez commented on #100
@Nithin-Mahendran

I need to discuss the priority of this issue with the team since we are currently focused on other .NET projects, but this is definitely something we want to support.

In the meantime, are you able to use OIDC middleware so you're not blocked?

[2019-11-13 16:55] Thialala commented on #100
Hello @laura-rodriguez ,

Any updates about supporting .NET Core 3 ?

Thanks!

[2019-11-14 18:22] laura-rodriguez commented on #100
Hi @Thialala ,

I will start looking into it next week. Stay tuned for updates :).

[2019-11-19 17:11] Thialala opened #101 "PKCE support"
Hello,

Does this package supports Authorization Code + PKCE ?

Thanks!

[2019-11-22 19:00] laura-rodriguez commented on #101
Hi @Thialala ,

Unfortunately, this package doesn't support PKCE.
What's your use case? What .NET version are you using?

[2019-11-25 09:37] Thialala commented on #101
I know that PKCE is primarly designed for Javascript and native apps. However, we would like to extend its use for our MVC Web Apps. Thus, we won't need a client secret anymore.

Currently, I'm using the following versions of .NET:
- ASP .NET MVC 5
- ASP .NET Core 2.2 and 3.0

Thanks!

[2019-12-19 15:41] laura-rodriguez commented on #100
Fixed by #103

[2019-12-19 15:41] #100 closed

[2020-01-02 11:23] VijiMari commented on #51
This might be fixed for ASP.NET Core but the same issue seems to exist in .net framework. When I use okta-aspnet-mvc-example and add groups in the scope as shown below,

namespace okta_aspnet_mvc_example
{
    public class Startup
    {
        public void Configuration(IAppBuilder app)
        {
            app.SetDefaultSignInAsAuthenticationType(CookieAuthenticationDefaults.AuthenticationType);

[2020-01-02 16:23] laura-rodriguez commented on #51
Hi @VijiMari ,
What authorization server are you using?
An Okta Org Authorization Server authorization which endpoint looks like this:
`https://${yourOktaDomain}/oauth2/v1/authorize`

Or, a custom authorization server which endpoint looks like this:
`https://${yourOktaDomain}/oauth2/${authServerId}/v1/authorize`

You can find more info about authorization servers here: https://developer.okta.com/d

[2020-01-02 16:26] VijiMari commented on #51
@laura-rodriguez -  'm using Okta Org Authorization Server authorization

[2020-01-02 16:36] laura-rodriguez commented on #51
have you created a groups claim in your application? In case you haven't, you can check how to do it here: https://developer.okta.com/docs/guides/customize-tokens-returned-from-okta/-/add-groups-claim-org-as/

[2020-01-02 17:18] VijiMari commented on #51
thanks @laura-rodriguez. Found the missing bit.. its actually groups scope in Authorization servers,

![image](https://user-images.githubusercontent.com/26272241/71681108-bf335700-2d83-11ea-9707-36d1a31a190a.png)

[2020-01-24 10:42] fzavalloni opened #109 "Token expiration - Opera Web Browser"
Hi,

An end user told us that his session in the application never expired. The first thing I did was try to replicate the issue.
I have tested with Chrome, Firefox and Edge and worked perfectly. However the end user uses an Opera Web Browser(https://www.opera.com/) and indeed when I access an application using this browser the session never expires. I remained authenticated forever what is a secu

[2020-01-24 16:49] laura-rodriguez commented on #109
Hi @fzavalloni,

The Okta SDK helps you with the authentication process. Once a local session is created in your application is up to you to invalidate that session.

Do they remain authenticated even after logging out? What's the use case?

[2020-02-11 19:08] Zasuk opened #111 "Override DefaultTokenValidationParameters"
Hi,

I'm working in a project that contains 2 different apps (iOS Native App,Web App) and a middleware.
Both apps need to login using Okta SDK and then call some endpoints in the middleware, that should take the access token and validate it also using the Okta SDK.

The problem is that i get different audiences from both apps...
in the iOS app i get `api://default` but in the web app i get the Cli

[2020-02-11 20:04] laura-rodriguez commented on #111
Hi @Zasuk ,

Thanks for your question.

Can you please help me to understand your use case? It's not clear to me how you use the Okta ASP.NET SDK in your iOS Native application. Also, what type of application is your Web App?

Is your use case related to this issue: https://github.com/okta/okta-aspnet/pull/99 ?

[2020-02-11 20:33] Zasuk commented on #111
Hi @laura-rodriguez ,
i just found the problem...i was using the `id_token` instead of `access_token`

someone helped me here:
[](https://devforum.okta.com/t/validate-okta-audience/8052)

[2020-02-11 20:33] #111 closed

[2020-03-02 16:26] benaread opened #112 "Support Auth code flow"
We use .Net 4.6.1 MVC and have seen that only the hybrid flow is supported and the response type is hard coded into the response.

Can you introduce a new feature to support the auth code flow so we follow OKTA's own best practises of avoiding the hybrid flow where possible.

Details on package set-up below:

Thanks in advance.

` <package id="Okta.AspNet" version="1.4.0" targetFramework="net461"

[2020-03-02 20:38] laura-rodriguez commented on #112
Hi @benaread ,

We have this task in our backlog already, and planning to work in this soon.

Thanks!

[2020-03-03 09:24] benaread commented on #112
@laura-rodriguez , thanks for the quick update Laura, much appreciated!  Do you have any high level idea of when this will be worked on so i can update our schedules?

Thanks again, Ben

[2020-03-06 18:47] laura-rodriguez commented on #112
Hi Ben,

We don't have a specific release date to share right now, but we expect to have it available as soon as we can.

[2020-03-16 03:58] ashishmundrajll opened #113 "Example to allow multiple Audiences"
Our API should allow access to a client with Audience id = 0oa***********0h7. The API should also allow another client with Audience Id = 0oapv************h7.

However, AddOktaWebApi only takes one Audience as input. How can my API allow multiple Audiences? A sample code will be useful.

Thanks.

[2020-03-16 15:08] laura-rodriguez commented on #113
Thanks for writing this @ashishmundrajll !

I would like to understand your use case better. Can you please give me more details of why do you need to manage multiple audiences?

[2020-03-16 22:34] ashishmundrajll commented on #113
@laura-rodriguez We like our API to be called from client and also from our API Gateway UI which has another client id. Hence API should allow both Audiences. Thanks.

[2020-03-19 01:58] gituser22kk opened #114 ".NET Core Authentication with cookies - MVC App"
We use .NET Core 2.2 and our APIs to authenticate users (internally we use Okta's C# SDK to make calls to Okta to authenticate and generate Access and ID tokens). The web client only calls our APIs... they don't call Okta API directly. We don't use sign in widgets or Okta's portal to login users.

We want to protect some parts of our application (for example anchor links/forms submissions) using c

[2020-03-20 16:06] brandongblack opened #115 "Error when using Org Authserver"
It seems by default this SDK supports using custom authServer. If a customer is using the org authServer is there a way to have it use that URL instead?  We are getting an error the following error:

IOException: IDX20807: Unable to retrieve document from: 'https://{{org}}.okta.com/oauth2/default/.well-known/openid-configuration'. HttpResponseMessage: 'StatusCode: 401, ReasonPhrase: 'Unauthorized'

[2020-03-20 16:14] laura-rodriguez commented on #115
Hi @brandongblack ,
You can specify the org AS in the following way:
[code]

Let me know if it helps.

[2020-03-20 16:57] laura-rodriguez commented on #114
Hi @gituser22kk ,

Thanks for your question.

I have some follow-up questions to understand your use case better:

* When you say: _internally we use Okta's C# SDK_, what SDK do you mean? Okta.AspNetCore? Can you give me more details of your login process?
* Do you have both, a Web App MVC and Web API app that you want to protect?
* What exactly do you mean by protecting your application using coo

[2020-03-21 02:23] gituser22kk commented on #114
Hello,
Thanks for your reply. Please see reply below. ***

*** Yes, we use all 3 Okta's sdk (ie.okta-sdk-dotnet, okta-auth-dotnet and okta-aspnet). Our website is asp.net core MVC and the client-side app is developed in Angular. The Angular app calls a dedicated API server which in turn uses above sdks to authorize; and sends the auth/id token back to the Angular app. The Angular app from that poi

[2020-03-24 14:27] laura-rodriguez commented on #114
Hi @gituser22kk ,

Thanks for providing more details.

I suggest reaching out to our support team (developers@okta.com).  They can examine the details of your particular use case and suggest solutions.

[2020-03-25 14:36] gituser22kk commented on #114
We did reach out to the support team but didn't get solution for this particular use case. In short, how to protect an MVC app with a cookie stored on the client with Okta's access token in it. . Is there any equivalent of "AddOktaWebApi" for cookies?

Thank You!

[2020-03-26 18:44] brandongblack commented on #115
Hi yes that did the trick! Thank you for the help

[2020-03-26 18:44] #115 closed

[2020-03-30 15:07] laura-rodriguez commented on #114
Hi @gituser22kk ,

I believe you can try with the `AddAuthentication` extension method. It allows you to configure different authentication schemas. You can take a look at the self-hosted sample where we had to configure Cookies as the default Authentication schema: https://github.com/okta/samples-aspnetcore/blob/master/samples-aspnetcore-3x/self-hosted-login/okta-aspnetcore-mvc-example/Startup.cs

[2020-03-31 20:53] chickenfeetsd opened #116 "Okta-AspNet: OpenIdConnectOptions.UseTokenLifetime property is not configurable in the current Okta.AspNet middleware build"
Please expose **OpenIdConnectOptions.UseTokenLifetime** property via **OktaMvcOptions** and populate the value of **OpenIdConnectOptions.UseTokenLifetime** property with the value from **OktaMvcOptions** in the **OpenIdConnectAuthenticationOptionsBuilder.BuildOpenIdConnectAuthenticationOptions()** function.

Use case is the following:
Setup an OWIN pipeline with Cookie Middleware and OpenID Connec

[2020-04-06 14:54] laura-rodriguez commented on #116
Hi @chickenfeetsd ,

Thank you for taking the time to write this request.

We will discuss this internally with the team and prioritize accordingly. Stay tuned for updates.

[2020-04-14 21:35] laura-rodriguez commented on #112
Fixed by #117

[2020-04-14 21:35] #112 closed

[2020-05-03 11:39] liiri opened #120 "Unhandled exception when user is not assigned to the client application"
I got an error because `User is not assigned to the client application`, which is legitimate. However, the error is thrown and unhandled. Moreover, I don't seem to be able to handle it on my own.

Full exception and stack:

[code]

I think if I could register to `OpenIdConnectEvents.OnAuthenticationFailed` that might help, but am not sure its sufficient.

I'd expect Okta to fail the login in the f

[2020-05-04 17:46] laura-rodriguez commented on #120
Hi @liiri ,

We apologize for the inconvenience.

Would you mind answering a few questions? This info will help us to understand your use case 😄 .

* Are you using Okta.AspNet or AspNetCore? What version? MVC or Web Forms?
* Can you please share your Startup configuration? (Please don't share your secrets ;))
* Are you using one of our public samples?
  - https://github.com/okta/samples-aspnet
  -

[2020-05-04 17:57] liiri commented on #120
Using Okta. AspNetCore 3.1.1, MVC

[code]

You can also reproduce the 500 error by adding random strings to the `Scope` list of `OktaMvcOptions`.

I'm not using any of the public examples, I'm using a production account.

[2020-05-05 16:20] laura-rodriguez commented on #120
Thanks for the info @liiri !

So, if I understand correctly, you have some Okta users trying to sign in to your application, but since they were not assigned to the corresponding Okta application, you have an unhandled exception. You would like to be able to configure error handling when using this SDK, am I correct?

[2020-05-05 17:13] liiri commented on #120
That's correct. I fixed the problem by assigning the users to the app, but I would like to be able to handle future cases of misconfiguration.

[2020-05-05 17:15] laura-rodriguez commented on #120
Thanks for your feedback ❤️ ! We will discuss this feature with the team and prioritize accordingly.

[2020-06-01 17:43] misterflippy commented on #120
I also have this issue. I'm using ASP.NET MVC. No samples, production account as well.

Everything works fine if the user is assigned to the app, but not all users should be assigned to the app, so we need to be able to handle this case.

[2020-06-01 20:34] laura-rodriguez commented on #120
Hi @misterflippy ,

Thank you for reporting this issue.

It's expected that users are assigned to an application before signing in. In order to understand your use case better, can you give me more details of why do you need not assigned users to be able to login to your application?

[2020-06-01 22:49] misterflippy commented on #120
I'm working with a large organization that has a single sign-on system in place. Not all users are  assigned to the application that I'm working on, but they are still able to log in via Okta, and would be assigned to other applications. We don't need the users to be able to log in to this application per se, but we do need to be able to handle this case, if nothing else to display an "unauthorize

[2020-06-02 14:50] laura-rodriguez commented on #120
Thanks for providing more details. This is definitely something we want to take a look at.
We have this task in our backlog already and planning to work on this soon.

[2020-06-03 20:55] unnieayilliath opened #122 "Getting error while targeting it to .Net 4.5.1"
I am adding this library (v1.5.0) to .Net 4.5.1 library and get below error:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'Okta.AspNet 1.5.0'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.5.1', but the package does not contain any assembly references or content files that are compatible with that fra

[2020-06-03 20:59] #122 closed

[2020-06-03 21:00] unnieayilliath commented on #122
Just saw that it supports from 4.5.2 or later.

[2020-06-17 16:01] RealDotNetDave opened #124 "Link not working in readme"
This link does not work in the readme doc:
okta-aspnetcore-2.x

[2020-06-17 17:33] laura-rodriguez commented on #124
Hi @RealDotNetDave !

Thanks for reporting this. In the meantime (if you haven't found it already) you can visit this link: https://github.com/okta/okta-aspnet/tree/okta-aspnetcore-2.x

[2020-06-26 15:19] RealDotNetDave opened #125 "WWW-Authenticate Error"
We have added the OKTA ASP.NET Core package to our project and set it up as per the OKTA documentation. After some issues, we are now seeing this error come back from a call to our API.

`WWW-Authenticate header field containing a challenge applicable to the requested resource.`

Does anyone know how to fix this?

[2020-06-26 18:01] chetan-vangala opened #126 "AddJwtBearerAuthentication method waits indefinitely"
We're using this package to authorize .NET Framework API endpoints that are eventually hosted in an Azure app service. After a certain period of time (~approx 1 day) the API stops responding to requests until the whole app service is restarted. We ended up troubleshooting this with Microsoft, which led us to capturing a memory dump (below). In that memory dump the call stack leads to a method in t

[2020-06-26 20:02] laura-rodriguez commented on #126
Hi @chetan-vangala,

Thanks for reporting this issue and for providing such helpful details.

As you mentioned, that piece of code can be the cause of the deadlock you are experiencing.

Since `Owin` expects sync code there, we need to find the safest way to call async code in a sync way in order to avoid this issue. Please, give us some time to take a look a this with the team. We appreciate your

[2020-06-26 20:32] laura-rodriguez commented on #125
Hi @RealDotNetDave ,

Thanks for your question!

Would you mind answering a few questions? This info will help us to understand your use case better :).

* Is your project a Web API or MVC application? What's your use case?
* Can you share what Okta documentation are you following?
* What .NET Core version and Okta.AspNetCore are you using?
* When exactly are you seeing this issue (for example, _r

[2020-06-26 21:07] RealDotNetDave commented on #125
Thanks, Laura for the response. Here are the answers to your questions:

1. It's a .NET Core Web API Project.
2. I followed the documentation here: (https://github.com/okta/okta-aspnet/blob/master/docs/aspnetcore-webapi.md)
3. We are using .NET Core 3.1 and version 3.1.1 of the Okta package.
4. We see the error from the response from our API.

Our team is meeting about this right now.
David

[2020-06-26 23:10] chetan-vangala commented on #126
Hi @laura-rodriguez,

Thanks for the quick response! Once they helped us narrow down the issue to this point, their only real recommendation was reach out to your team first since you have the extra context of having built the library and might have a workaround or resolution that we/they weren't aware of.

[2020-06-29 14:30] laura-rodriguez commented on #125
Thanks for your response @RealDotNetDave .

How are you obtaining the access token that you are passing to your Web API app? Also, are you using the Okta Org Authorization Server or the Default one? If you are not sure, you can check out the following link: https://developer.okta.com/docs/concepts/auth-servers/

[2020-07-02 14:24] ScottRoutley opened #127 "Aspnetcore MVC - Okta Hosted Login - Cannot timeout a session"
## Current behavior
Setting the session timeout on the Okta portal has no bearing on the application.
For example, I can set the session to timeout in 5  minutes, but i can come back to the application in 12 hours and the session still works.

## Expected behavior
After the timeout window has been crossed, my next click in the application should redirect me to the login page.

## Minimal reproduct

[2020-07-02 14:33] bryanapellanes-okta commented on #127
Hi @ScottRoutley,

Thank you for taking the time to submit this.

We will discuss this internally with the team and prioritize accordingly.  Some related work is in flight to address this and similar issues. Stay tuned for updates.

[2020-07-06 16:57] chetan-vangala commented on #126
Hi @laura-rodriguez ,

Have there been any updates here? Or in lieu of that, can you let me know what sort of timeframe I can expect to hear back in?

[2020-07-06 21:20] laura-rodriguez commented on #126
Hi @chetan-vangala,

This task is on our backlog already, and we are planning to start working on this during the current sprint. We reached out to the project Katana team, and we are going to implement the workaround that was suggested [here](https://github.com/aspnet/AspNetKatana/issues/363#issuecomment-651223119).

Stay tuned for updates.

[2020-07-09 21:13] laura-rodriguez commented on #126
Hi @chetan-vangala,

We have a [PR](https://github.com/okta/okta-aspnet/pull/129) that should fix this issue.

Would you mind checking out this fix in your project to verify that it actually fixes the problem? That would require you to check out the [branch](https://github.com/okta/okta-aspnet/tree/lr-OKTA-308920-cache-signing-keys) and reference the `Okta.AspNet` project in your solution. If this

[2020-07-10 12:26] Good-man opened #130 "Support for Refresh Tokens"
Hi @chrismorris-okta

## User story

As a website developer, I would like the Okta ASP.net SDK to support the flow of exchanging a refresh token for a new access token.

Our use-case is a feature that we call "keep me logged in" where our customers can continue to access authenticated, but non-sensitive resources when they return to the site for weeks or months (similar to Amazon and Facebook).  A

[2020-07-10 16:11] chetan-vangala commented on #126
Hey @laura-rodriguez,

This is great news, thank you! I think we should be able to test it out like this - unfortunately it'll take a bit to test since it's an issue that takes a few days to occur. We can kind of only test it by running it and waiting for a few days to confirm that the issue doesn't happen.

I'll report back after we've had a chance to verify!

[2020-07-10 18:28] laura-rodriguez commented on #126
Hi @chetan-vangala,

We appreciate your help with this! ❤️

Can you provide us an ETA of when you think we would hear back from you? Thank you!

[2020-07-10 21:12] chetan-vangala commented on #126
Hi @laura-rodriguez,

Likewise! :)

I asked the team to deploy this change to our test environment today. If they were able to do so and we don't see the issue reoccur by Tuesday I think we'll feel fairly confident in the issue being resolved with this fix. I'll check in with them again Monday morning. Worst case they should be able to deploy on Monday - in which case we'd probably want to give it

[2020-07-11 02:02] mpbrooks93CAP opened #131 "Okta Nonce Exception"
When logging into my ASP.NET application the user is presented with the below exception after logging in with the Okta widget which successfully goes through the entire login flow and redirects to the site with a valid token. The application uses the Okta ASP.NET middleware version 1.5.0. This error occurs after the user receives their OIDC token from the Okta authorization endpoint. We have verif

[2020-07-13 12:54] bryanapellanes-okta commented on #131
Hi @mpbrooks93CAP,
Thank you for submitting this issue! We will review further with the team and prioritize appropriately. We'll provide additional information here when a resolution is identified.  Stay tuned!

[2020-07-13 17:45] chrismorris-okta commented on #130
@Good-man thanks for submitting this issue. This isn't supported in the SDK today but our team is actively looking into how we can officially support this in the SDK and if there is a workaround we can suggest.

We'll get back to you in a couple of weeks once we have more information.

[2020-07-13 19:03] mpbrooks93CAP commented on #131
https://github.com/mpbrooks93CAP/Minimal-Reproduction-Bug---131

[2020-07-13 21:47] Good-man commented on #130
Totally understand!  I would love a suggested workaround!  Thank you!

[2020-07-14 18:38] chetan-vangala commented on #126
Hi @laura-rodriguez,

Sorry for the delay here - our team has tried to swap out the nuget package we were using with manual references for the dlls build from your project, but for some reason we're having trouble with the dependencies. Any chance I can take you up on the test nuget package offer from earlier?

[2020-07-14 20:25] laura-rodriguez commented on #126
Hi @chetan-vangala ,

Sure! You can find the test NuGet packages attached here in a zip file. Let me know how it goes :).

[artifacts.zip](https://github.com/okta/okta-aspnet/files/4921137/artifacts.zip)

[2020-07-17 14:50] laura-rodriguez commented on #126
Hi @chetan-vangala ,

Were you guys able to try the test NuGet packages?

[2020-07-17 23:49] chetan-vangala commented on #126
Hi @laura-rodriguez ,

There was some delay with the deployment, but they got them up to our test environment. Now we wait! if the deadlock hasn't happened by Monday/Tuesday it's likely that the fix worked.

[2020-07-18 22:01] Good-man commented on #130
Hi @chrismorris-okta,

I am able to retrieve a new Access Token using the Refresh Token, but where in the Okta/Owin/OIDC pipeline do I reintroduce the new tokens?

Mark

[2020-07-20 17:34] Good-man commented on #130
I posted a [related issue](https://stackoverflow.com/questions/63000844/how-does-a-client-using-owin-katana-oidc-use-a-refresh-token) on StackOverflow.

[2020-07-20 17:37] chrismorris-okta commented on #130
Thanks for the follow-up Mark. I'm tagging @laura-rodriguez to help answer this since she's digging into this area this week

[2020-07-21 18:48] laura-rodriguez commented on #130
Hi @Good-man,

Thanks for your question.

The user session lifetime is separate from access tokens' lifetime.  Access tokens are usually used by a resource server to authorize a request. The OIDC SDK is responsible for the authentication and retrieving of the tokens, but then it is up to the client (your app) to decide how they manage their sessions or authorize resources.

That being said, based

[2020-07-21 19:14] Good-man commented on #130
Hi @laura-rodriguez ,

Yes, user session is completely independent of the access token's lifetime.  No problem there.

I have already successfully implemented a check for token expiration and a call to /token to retrieve new tokens, however I have been unable to trigger the CookieAuthentication middleware to set a new cookie with the new access token.

This SO question describes the problem better

[2020-07-21 19:46] laura-rodriguez commented on #130
Thanks for all the details Mark!

Just to clarify, when you say that a new cookie is not being generated, do you mean that `context.Authentication.User.Identity` still has the old tokens? In other words, `context.Authentication.User.Identity` is not being overwritten with the `newIdentity`. Is the `ExpiresUtc` being updated?

Have you tried Challenge instead of `SignIn`? You can do a quick test to

[2020-07-21 20:48] Good-man commented on #130
Hi @laura-rodriguez,

Correct.  After passing `newIdentity` to the `SignIn()` method, the middleware does not set a new cookie so it contains all of the old claims and tokens.  So, on the next request, the middleware parses the old cookie and restores all of the old claims and tokens.

The `Challenge()` method does not accept a `ClaimsIdentity` argument like the `SignIn()` method does, however....

[2020-07-21 21:26] laura-rodriguez commented on #130
Thanks Mark!

I want to keep exploring the `Challenge` scenario a bit more to understand why it didn't work, so let me ask you some follow-up questions.

You mentioned that when you tried `Challenge` before, the problem you had was that the users were redirected to the Okta login page instead of yours. This usually happens when your OIDC `AuthorizationMode` is not set to `AuthenticationMode.Passiv

[2020-07-22 02:09] Good-man commented on #130
Hi Laura,

I really appreciate your questions!  Your questions will help us figure this out together.  I love it! 😍

I have always had `AuthenticationMode = AuthenticationMode.Passive`.  My cookie authentication middleware has always been set to `LoginPath = new PathString("/Account/Login")`, which is what I want.

**Thought:**  I suspect that the `refresh_token` challenge _without_ the Okta sessi

[2020-07-22 14:48] laura-rodriguez commented on #126
Hi @chetan-vangala,

Do you have any updates on this? Thanks!

[2020-07-22 16:19] laura-rodriguez commented on #130
Hi @Good-man ,

Yes, you are right, when you are using a custom login page you need to pass the session id as a parameter.

As far as I can see, the issue here is not with the SDK because you are able to retrieve the tokens, but with Owin and what is the recommended way to update the cookie once you have the updated tokens.

I think this [ASP.NET Core sample describes what you are trying to do](ht

[2020-07-22 17:21] Good-man commented on #130
Hi @laura-rodriguez ,

This makes sense, but it does not cause the cookie middleware to set a new cookie.  So, on the next request the browser passes the old cookie, claims, and access token which is still expired.   :-(

Mark

[2020-07-22 17:37] Good-man commented on #130
@laura-rodriguez the ResponseSignIn method allows changing the claims before they are converted into a cookie, but it only happens during SignIn.  Not on each request.

[code]

[2020-07-22 18:01] Good-man commented on #130
Hi @laura-rodriguez ,

I think that I may have just gotten it to work.  I removed the code from the `ValidateIdentity` method.  I modified the code in my `RefreshTokenMiddleware` to remove and add the new claims (instead of creating a new `ClaimsIdentity `like I was doing before), then called the `.SignIn()` method again... which triggered the `.ResponseSignIn()` method to execute in the cookie mi

[2020-07-22 18:49] laura-rodriguez commented on #130
Hi @Good-man,

I'm crossing fingers 🤞 ! Please, let me know how it goes.

[2020-07-23 13:58] chetan-vangala commented on #126
Hi @laura-rodriguez,

Sorry for the delayed response here - there were some issues with deployment that were unrelated to this fix that we needed to resolve. The fix has been deployed for 3 days now though without the issue reoccurring. Normally the issue would have happened within this timeframe, so I feel pretty confident that your fix has worked.

We're still waiting for a little longer to clos

[2020-07-23 14:10] laura-rodriguez commented on #126
Hi @chetan-vangala ,

Thanks for the update! I'm glad to know that the issue hasn't showed up.

We are currently working on preparing a new release, so this will be available soon.

Thanks for your help in getting this issue fixed ❤️ .

[2020-07-23 20:52] laura-rodriguez commented on #120
Fixed in #128.

[2020-07-23 20:52] #120 closed

[2020-07-23 20:53] laura-rodriguez commented on #126
Fixed in #129 . Available in `Okta.AspNet 1.6.0`.

[2020-07-23 20:53] #126 closed

[2020-07-24 15:48] #59 closed

[2020-07-24 15:50] #70 closed

[2020-07-24 15:51] #73 closed

[2020-07-24 15:53] laura-rodriguez commented on #75
I'm closing this now. Feel free to open if this is still happening.

[2020-07-24 15:53] #75 closed

[2020-07-24 15:58] #90 closed

[2020-07-24 16:00] laura-rodriguez commented on #98
Consider re-open if this is still an issue.

[2020-07-24 16:00] #98 closed

[2020-07-24 16:50] bryanapellanes-okta commented on #120
@liiri  @misterflippy,

Good news, the latest release includes the ability to handle exceptions using your custom code:
- For AspNet see [aspnet4x-mvc.md#handling-failures](https://github.com/okta/okta-aspnet/blob/master/docs/aspnet4x-mvc.md#handling-failures)
- For AspNetCore see [aspnetcore-mvc.md#handling-failures](https://github.com/okta/okta-aspnet/blob/master/docs/aspnetcore-mvc.md#handling-

[2020-07-24 17:58] #93 closed

[2020-07-26 21:33] Good-man commented on #130
Hi @laura-rodriguez,    (cc @chrismorris-okta)

So far, in all my testing, it is working perfectly!  👍

I believe that this could be added to the Okta ASP.net SDK fairly easily and it would be amazing!  Is there anything that I can do to help with this?  A pull request?

Mark

[2020-07-27 20:27] laura-rodriguez commented on #130
Hi @Good-man,

That's awesome! 🎉

We definitely want to know what features you think could be added to the SDK to make the experience better. So, if you have a minimal working project that you can share with us, we can definitely take a look at the bits that can be added to both ASP.NET and ASP.NET Core SDKs. If you already have an idea, feel free to share your thoughts and/or submit a PR  ❤️ .

W

[2020-07-29 14:23] alexlangleyokta commented on #127
Hi @bryanapellanes-okta,

Could we get an update on this one? Thank you!

[2020-07-29 14:40] bryanapellanes-okta commented on #127
@alexlangleyokta,
Thanks for following up on this.  We hope to assign resources to test the proposed solution as soon as feasible.

[2020-07-29 15:30] laura-rodriguez commented on #127
Hi @ScottRoutley ,

I think you can set the session expiration when calling the `Challenge` method. Have you tried passing the expiration settings via `AuthenticationProperties` when signing in? Something like this:

[code]

[2020-07-30 15:39] RealDotNetDave commented on #125
Thanks for reaching out. We got Okta working for our product that we released a few weeks ago.

David

From: Laura Rodríguez <notifications@github.com>
Sent: Monday, June 29, 2020 7:31 AM
To: okta/okta-aspnet <okta-aspnet@noreply.github.com>
Cc: David McCarter <dotnetdave@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [okta/okta-aspnet] WWW-Authenticate Error (#125)

Thanks for your

[2020-07-30 16:06] laura-rodriguez commented on #125
Hi @RealDotNetDave !

I'm glad you got it working. May I ask you what the issue was?

[2020-08-03 14:41] vsspt opened #137 "Okta.AspNetCore Authentication: OktaWebApi + Okta Api Token"
I have a .net core 3.0 Rest API, secured with Okta.AspNetCore OktaWebApi :

[code]

This works perfectly!

I want to add Authentication using Okta API Tokens:
- https://developer.okta.com/docs/guides/create-an-api-token/overview

Is there a way to use Okta.AspNetCore to enable multiple Authentication schemas, as OktaWebApi + Okta API Token?

Thank you!

[2020-08-03 14:54] bryanapellanes-okta commented on #137
@vsspt ,
Thank you for submitting this issue.  We will review internally to determine the appropriate approach to achieve what you're requesting.  We'll respond here when more information is available.  Stay tuned!

Thanks!
Bryan

[2020-08-03 14:59] vsspt commented on #137
Thank you very much for such a fast response.

[2020-08-05 22:01] gbraymondwk opened #139 "Callback Nonce validation error in Chrome with console message "SameSite attribute was not set or is invalid""
## Current behavior

This is in dev for a new version of our internal Asp.Net MVC app, and last week it started reporting the following error every time I try to start the app in Chrome when it is processing the Callback. This happens on my development desktop when I start in Visual Studio, and it also happens when starting the app when it is deployed to our staging server.
"IDX21323: RequireNonce

[2020-08-06 16:26] simplecoder opened #140 "Allow setting absolute url for CallbackPath"
The okta middlware allows setting a CallbackPath, but seems to only allow relative urls. If I specify an absolute url i get this error - `ArgumentException: The path in 'value' must start with '/'. (Parameter 'value')` I am wondering can we allow for absolute urls or is there some option within the parameters to always make sure the redirect_uri is set in https instead of http?

[2020-08-10 15:02] laura-rodriguez commented on #139
Hi @gbraymondwk,

This seems to be related to the SameSite changes that the latest version of Chrome has introduced.

By default, the nonce cookie should be marked as secure if you are using https unless you have some sort of configuration or a proxy that is preventing this.

I suggest looking into the workarounds suggested by MS that should be done at the application level: https://devblogs.micro

[2020-08-10 16:19] bryanapellanes-okta commented on #140
@simplecoder ,
Thank you for submitting this issue. We will review internally to determine the appropriate approach to achieve what you're requesting. We'll respond here when more information is available. Stay tuned!

Thanks!
Bryan

[2020-08-10 16:38] gbraymondwk commented on #139
Thanks for the confirmation. We are not currently using certs/https on our
dev desktops or our staging server, and so the "Secure" part with SameSite
is likely what's tripping up our authorization on those platforms and why
our production site running a slightly older version of our app but *with*
HTTPS hasn't had any issues.

Greg

On Mon, Aug 10, 2020 at 8:03 AM Laura Rodríguez <notifications@gi

[2020-08-10 16:54] laura-rodriguez commented on #139
Hi Greg,

I think that's the main purpose of this change, to enforce apps to use https.

I suggest looking into [this issue](https://github.com/dotnet/aspnetcore/issues/19939). I know it's ASP.NET Core, but the issue is the same.

[2020-08-10 16:58] laura-rodriguez commented on #140
Hi @simplecoder,

May I ask what's the use case here? If your app is using https, the CallbackPath should be using https as well.

Can you describe the steps to reproduce the issue you are running into?

[2020-08-10 17:39] bryanapellanes-okta commented on #131
@mpbrooks93CAP ,
We were able to identify relevant information pertaining to this issue, which you can read here: [https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/](https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/)

I'm continuing to investigate, wanted to share fyi.

[2020-08-10 22:24] simplecoder commented on #140
Well in this specific case, the app is running in a kubernetes cluster in http. The SSL termination happens at the cluster level and forwards the request to the http app. The app is redirecting to Okta and we need the redirect uri to say https even though the app internally is running as http.

[2020-08-11 13:16] #139 closed

[2020-08-11 13:18] #125 closed

[2020-08-11 13:30] laura-rodriguez commented on #137
Hi @vsspt ,

Can you provide us more details of your use case here?

When using an access token (bearer token) obtained via OIDC we can validate it at the app level, but we cannot do that with the API token. When you call any Okta endpoints with an invalid API token, the Okta API will return the corresponding error.

[2020-08-11 13:33] laura-rodriguez commented on #109
Closed due to inactivity.

[2020-08-11 13:33] #109 closed

[2020-08-11 13:35] laura-rodriguez commented on #94
Closed due to inactivity.

[2020-08-11 13:35] #94 closed

[2020-08-11 13:52] laura-rodriguez commented on #114
Closed due to inactivity.

[2020-08-11 13:52] #114 closed

[2020-08-11 14:03] vsspt commented on #137
Hi @laura-rodriguez, thank you for your response.

We have an Okta server instance that acts as the Identity provider to users Stored in Okta, and also for users from external Idps (Azure, etc).

We have several Micro-services, developed in .net core 3.x, secured with Okta.AspNetCore OktaWebApi, with all Endpoints authorized.

Currently, we have the following Use Case in place:
 - As a User, after

[2020-08-11 18:21] bryanapellanes-okta commented on #131
@mpbrooks93CAP,
Further internal review shows that this is related to the SameSite changes that the latest version of Chrome has introduced.

By default, the nonce cookie should be marked as secure if you are using https unless you have some sort of configuration or a proxy that is preventing this.

I suggest looking into the workarounds suggested by MS that should be done at the application level

[2020-08-11 18:24] bryanapellanes-okta commented on #131
@mpbrooks93CAP ,
Additional information from dotnet repo: [https://github.com/dotnet/aspnetcore/issues/19939](https://github.com/dotnet/aspnetcore/issues/19939)

[2020-08-11 20:00] laura-rodriguez commented on #137
Hi Vasco,

Thanks for the details.

API tokens are not used for authentication and we do not recommend that approach. API Tokens are highly privileged tokens, so it is not a good idea to pass them around.

That being said, if what you want is to implement a client credentials flow for a machine-to-machine scenario, then I suggest looking into [OAuth for Okta APIs](https://github.com/okta/okta-sdk-

[2020-08-11 20:08] bryanapellanes-okta commented on #131
Confirmed with support that issue was resolved.  Closing.

[2020-08-11 20:08] #131 closed

[2020-08-12 19:31] bryanapellanes-okta commented on #140
@simplecoder,
Unfortunately, there is no way to do what you're asking within the Sdk; the CallbackPath value provided is delegated to the OpenIdConnect framework used internally.

You may have options using Kubernetes to rewrite the url within the cluster but that is beyond the scope of our Sdk.

[2020-08-13 18:31] vsspt commented on #137
Thank you for you response.

I will need a few days to research, please do not close this issue, i'll post as soon as i have new informations.

Thank you very much!

[2020-08-18 15:36] brandongblack commented on #131
@bryanapellanes-okta , I'm having this exact same issue with the latest version of Okta-asp-net and all of the latest dependencies. The issue is only affecting chrome. When you say that the issue is resolved I'm not seeing the same behavior

[2020-08-18 18:18] bryanapellanes-okta commented on #131
This is a breaking change that Chrome has introduced.  By default, the nonce cookie should be marked as secure if you are using https unless you have some sort of configuration or a proxy that is preventing this.
I suggest looking into the workarounds suggested by MS that should be done at the application level in the link posted in my previous comment also included here: https://devblogs.microsof

[2020-08-18 18:21] bryanapellanes-okta commented on #131
@brandongblack Please see response above.  Thanks!

[2020-08-18 18:27] brandongblack commented on #131
@bryanapellanes-okta thank you - will give this a try

[2020-08-24 16:33] #130 closed

[2020-08-26 20:57] breannamporter opened #141 "401 Unauthorized Error on ASP.NET Web API"
I followed the tutorial linked here (https://developer.okta.com/quickstart/#/widget/dotnet/aspnet4) and my front end (an angular single page app) is successfully singing-in using the Sign-In Widget and the Auth Code Flow with PKCE but I am getting a 401 unauthorized error whenever I try to make requests to the .NET Framework 4.5.2 Web API which I secured by following the 'Server Setup' section in

[2020-08-26 21:07] laura-rodriguez commented on #141
Hi @breannamporter ,

Sorry for the inconvenience.

Have you verified that you are using the same authorization server for both of your applications (SPA and Web API)?

Can you also post a fiddler log that captures the moment you are hitting the protected endpoint in your Web API?

[2020-08-27 15:34] #9 closed

[2020-08-28 19:08] es-repo opened #142 "Add possibility to specify "login_hint" parameter"
As I see from the documentation and from the source code there is no way to specify "login_hint" parameter.

Would be nice to have this feature or to provide access to `OpenIdConnectAuthenticationNotifications.RedirectToIdentityProvider` notification.

[2020-08-28 19:21] laura-rodriguez commented on #142
Hi @es-repo,

Thanks for your suggestion.

As you well noticed, we don't expose that event at the moment, but we are planning to support this in the future since many people have reported needing access to OIDC events for their custom scenarios.

Stay tuned for updates!

[2020-08-28 21:22] breannamporter commented on #141
Hi @laura-rodriguez yes, they are both using the same authorization server. I will get back to you Monday with the Fiddler log.

[2020-08-31 15:36] laura-rodriguez commented on #141
Hi @breannamporter ,

Can you also post your SPA configuration + your Web API configuration (Web.config + Startup), please? Don't forget to obfuscate your secrets ;).

[2020-08-31 20:56] breannamporter commented on #141
SPA Configuration:
[code]

Web API Configuration: [APIConfig.zip](https://github.com/okta/okta-aspnet/files/5152420/APIConfig.zip)

From Fiddler:

Raw request
[code]
Raw response
[code]
I know that the tokens being generated by my front-end are valid because I was able to test them using one of the sample APIs on okta's git.

[2020-09-01 14:29] laura-rodriguez commented on #141
Thanks for the details @breannamporter .

Your configuration looks good to me. One minor comment, since you are using the `default` Authorization Server you can skip line 22 and 23 in your Startup because our SDK sets those default values for you. This is how it should look like:

[code]

Anyways, that shouldn't be an issue.

Can you also show me the protected method you are trying to call? Are yo

[2020-09-01 15:19] breannamporter commented on #141
Yep, Okta support suggested I add those declarations just to confirm it couldn't be contributing to my issue.

Here is my WebApiConfig.cs code to answer your question about the authorize attribute:
[code]

and here is the getSchool method I've been testing with:
[code]

Inn my testing, the error in the Okta SDK is thrown before any of the code within this method is hit (breakpoints added within th

[2020-09-01 19:49] laura-rodriguez commented on #141
Thanks, @breannamporter .

I just performed a quick test using the information you and support provided me, and I was able to hit a protected endpoint using my Org configuration.

I suggest performing the same steps to verify that everything is working as expected or try to narrow down the issue.

**Setup**

I used the following React sample for the front end: [Okta-hosted login](https://github.co

[2020-09-02 15:27] robalexclark opened #143 "Groups missing from claims"
I'm using the following startup.cs config for okta:

[code]

[2020-09-02 15:41] breannamporter commented on #141
Hi @laura-rodriguez thank you again for your help on this.  So it looks like the issue is in fact because the application is unable to retrieve the signing keys from okta.

On the fiddler side, the only okta related activity I'm seeing are two requests one after the other, both of which are successful.

1st raw request
[code]
1st raw response
[code]

2nd raw request
[code]

2nd raw response
[code]

[2020-09-02 15:54] bryanapellanes-okta commented on #143
@robalexclark ,
Thanks for your inquiry!  I will review this more closely to provide you an answer.  Stay tuned!

[2020-09-02 18:46] bryanapellanes-okta commented on #143
@robalexclark,
Further investigation has revealed that `groups` scope is not configured by default.  You can learn more about working with Okta oidc scopes from the following links:

- [Scopes and supported endpoints](https://developer.okta.com/docs/guides/implement-oauth-for-okta/scopes/)
- [Create Scopes](https://developer.okta.com/docs/guides/customize-authz-server/create-scopes/)
- [Define all

[2020-09-03 12:17] robalexclark commented on #143
We do have a groups scope configured and other (non .net core) applications are getting the groups in their list of claims.

[2020-09-03 13:05] bryanapellanes-okta commented on #143
Can you provide a working code example showing the retrieval of groups in the list of claims?  I can use that to determine why it isn't working with .net core.

[2020-09-03 13:27] bryanapellanes-okta commented on #141
@breannamporter,
I'm inquiring internally about the error message shown in the screenshot to get more insight into the issue.  Hopefully, I'll have more to share soon.

cc @laura-rodriguez

[2020-09-04 09:38] robalexclark commented on #143
Unfortunately I can't provide a working example due to my companies regulations. However they have opened a support ticket with okta to try and resolve.

One question - would you expect the groups to be included in the list of claims automatically retrieved on successful login? I have seen examples on okta support where a separate api call is required to retrieve them, but I didn't know whether th

[2020-09-04 16:02] bryanapellanes-okta commented on #143
Generally the answer to your question is yes.  However, a difference has been seen in .Net Core due to a change in the way that tokens are processed by the underlying framework and related libraries resulting in the behavior you're seeing.  In this case, to retrieve the current user's groups you can reference the [Okta.Sdk](https://www.nuget.org/packages/Okta.Sdk/) and make a separate call using c

[2020-09-04 17:09] bryanapellanes-okta commented on #141
@breannamporter,
While reviewing logs, we were unable to find entries related to the request whose details are shown in your latest comment above.  The error text implies that the server is receiving "System.String" where json is expected.  Can you confirm what implementation of `IDiscoveryDocumentSigningKeyProvider` is in use when this code executes https://github.com/okta/okta-aspnet/blob/master

[2020-09-04 17:38] breannamporter commented on #141
hi @bryanapellanes-okta see below for the implementation.

[code]

[2020-09-05 09:43] robalexclark commented on #143
We have resolved this now - the reason was that the application was setup to send an access token rather than an openid token. Once this was changed the claims started coming through.

One tweak I had to make was that the Group claims sent thru were not marked as being ClaimType.Role so the IsInRole method would not work, I couldn't find a way to change a claim type without first manually removing

[2020-09-05 09:43] #143 closed

[2020-09-05 20:51] mfish0005 opened #144 "AuthZ doc ideas for Web API"
## My Use Case
I'm evaluating Okta for managing my startup's users.  I'm building a multi-user app with Angular/Dotnet Core Web API.  Users will be able to do basic things like:

1. Register/log in
2. Create Content
3. View other people's content
4. Manage *their own* content

## Summary
I've used Okta and this package to set up user registration/log in functionality for my startup by following th

[2020-09-07 23:50] mfish0005 commented on #144
After some further research I found this article which is fairly newer: https://developer.okta.com/blog/2020/06/10/crud-entity-framework-core

It answers some of my questions but uses an MVC approach.  It also doesn't reference this package.

[2020-09-08 14:58] laura-rodriguez commented on #141
Hi @breannamporter,

Since you mentioned that it works correctly with our example (which is using v4.7) I wonder if this is an issue with .NET 4.5.

Can you please try targeting a newer framework in your application? I understand if this is not possible.

Another thing to try (without changing your framework target) is using an older version of the Okta SDK. We recently made a change in the way we

[2020-09-08 15:24] laura-rodriguez commented on #144
Hi @mfish0005 ,

Thank you so much for your feedback.

Can you please clarify what do you mean by multi-user authorization?

Also, can you please describe what would be the responsibility of your SPA vs the Web API project? Trying to get a better understanding of your use case here :).

[2020-09-18 19:00] #124 closed

[2020-09-21 20:42] #142 closed

[2020-09-23 19:38] laura-rodriguez commented on #141
Closing now due to inactivity. Please, feel free to reopen if this is still an issue for you.

[2020-09-23 19:38] #141 closed

[2020-09-24 13:01] Giorgi opened #151 "Okta sign-in and ASP.NET Identity compatibility issue"
## Current behavior
Sign in with Okta doesn't work together in ASP.NET Core web project with ASP.NET Identity

## Expected behavior
Sign in with Okta should work in ASP.NET Core project with ASP.NET Identity

Repro available at: [OktaAspNetIdentity Issue Repro](https://github.com/Giorgi/OktaAspNetIdentity)

## Environment

- OS: Windows 10
- .Net Core 3.1
- Other:

First, Sign in with Okta works i

[2020-09-24 13:51] laura-rodriguez commented on #151
Hi Giorgi,

Can you please give more details of the use case you are trying to cover? If you use the Okta.AspNet SDK, it will configure an OIDC middleware for you which will redirect you to the Okta login when you try to log in.

Are you planning to show how to login with 2 different providers?

[2020-09-24 14:08] Giorgi commented on #151
Hi Laura,

My use case is to use ASP.NET Identity for creating new users and saving them in Okta and using Okta to log in with Okta. As I said I'm redirected to Okta as expected but I get the error I posted above. But the same thing works with the `AspNet.Security.OAuth.Okta` package. The demo repo that I have has both packages installed so that you can try it easily.

[2020-09-24 15:20] laura-rodriguez commented on #151
Hi @Giorgi ,

Thank you for the details.

We were able to reproduce the issue, but we'll need some time to investigate further.

We have created an internal JIRA to work on this. We'll get back to you when we have updates.

Thanks!

[2020-09-28 22:03] mfish0005 commented on #144
Hey @laura-rodriguez !  Sorry it took me so long to respond.  Not long after I created this issue a forest fire started up the road from my house.  Was away from my machine during the evacuation.

1. I think what I probably meant by multi-user authorization was more along the lines of role based or policy based authorization.  This is all very exploratory and I still haven't figured out which role

[2020-09-29 14:49] laura-rodriguez commented on #144
Hi @mfish0005,

I'm sorry to hear there was a fire nearby, I hope everything's fine!

Thanks for the additional details, it's more clear now. I still have one more question though.
Where are you planning to implement role-based authorization? In the SPA or the Web API or maybe both? Can you give me an example of how it would work?

Regarding the best way to store posts, it's up to you. There are m

[2020-09-29 19:53] mfish0005 commented on #144
Thanks @laura-rodriguez :) Luckily they have the fire under control now and the only damage was to the hill behind my house.

Both the SPA and API will probably need some sort of user role integration.  Here are some possible roles:

`Viewer`: In order to view posts a user needs to be logged in so I think all registered users should be assigned a `Viewer` role.   `Editor`: Users should only be abl

[2020-09-30 14:53] laura-rodriguez commented on #142
Hi @es-repo,

We have recently released a new version that allows you to pass the `login_hint_param`  during authentication. Check out [the readme](https://github.com/okta/okta-aspnet/blob/master/docs/aspnetcore-mvc.md#specifying-the-login_hint-parameter) for more details.

We are still planning to expose OIDC in the future, so stay tuned for that.

Thank you!

[2020-10-17 02:50] naveenkv66 commented on #130
@Good-man can you share the refresh token implementation full working code.

[2020-10-29 22:21] gituser22kk opened #153 "Token validation error - The Signature key was not found"
Hello,
We use .NET Core 2.2 (sdk version 1.3.0). We suddenly started to get the following error when the protected APIs are hit with valid tokens. The Tokens are created fine, aren't expired and have valid claims, issuer, audience etc.
Error in the response header:
www-Authenticate Bearer error "Invalid_token", error_description = "The Signature key was not found".

We verified our startup and the

[2020-10-29 23:39] bryanapellanes-okta commented on #153
@gituser22kk,
Thanks for reaching out, and sorry for the inconvenience.  I will inquire internally to get additional information about the error and its potential causes.  In the mean time are you able to provide code that reproduces the issue, preferably in a temporary repository that I can clone and run?  This will help greatly to determine the root cause of the issue.

Thanks!

[2020-10-30 01:06] bryanapellanes-okta commented on #153
@gituser22kk,
As something to try, are you setting the authParameters?  See this devforum help article for more: [https://devforum.okta.com/t/error-the-signature-key-was-not-found/696/2](https://devforum.okta.com/t/error-the-signature-key-was-not-found/696/2).

[2020-10-30 04:28] gituser22kk commented on #153
Thank you for your help. There was a settings issue in configuration file. Sorry for any inconvenience. This can be closed.

[2020-10-30 12:12] #153 closed

[2020-11-17 17:40] liiri opened #155 "Sign out redirects to a url that returns error about missing client_id"
I'm using `Okta.AspNetCore` version `3.2.0` on .NET Core 3.1

This is my authentication controller:

[code]

When session expires, my client calls this sign-out method. However, maybe due to session expiring, I'm getting redirected to `https://DOMAIN.okta.com/...` that returns an error:

![image](https://user-images.githubusercontent.com/53004117/99426214-81dca700-290c-11eb-8772-85bd52383b67.png)

[2020-11-17 20:10] laura-rodriguez commented on #155
Hi @liiri ,

Sorry for the inconvenience.

Can you please share a fiddler log when the logout request is being made? We usually send the `id_token` as a logout query param, and it's possible that the id_token value is null since the session expired. I want to verify what the logout request looks like.

Thanks!

[2020-11-18 07:21] liiri commented on #155
Hi @laura-rodriguez thanks for the quick reply :)
Can't get a proper Fiddler or similar at the moment, but can detail from browser feed.
Also looking at it more carefully, I find my initial claim was not accurate.

Step 1 - web client get error due to session expired when doing some api call
[code]
Response header includes proper redirect url (actual ids were obfuscated or censored):
[code]

Step

[2020-11-18 14:47] laura-rodriguez commented on #155
Hi @liiri ,

Thanks for the additional details.

It seems your logout URL doesn't have an `id_token_hint` and I think that's the issue. I know the `client_id` error message can be misleading, but I have seen the same error message when the id_token wasn't properly passed during logout. Your logout URL should like this:

`GET /oauth2/default/v1/logout?post_logout_redirect_uri=https%3A%2F%2Flocalhos

[2020-11-18 15:04] liiri commented on #155
Nevermind, it was my misunderstanding, on manual flow we got the same problem, its just that when clicking the "log out" button, my app also manually redirects to sign-in page, which overrides the behavior.

In any case, the URL is built using the sdk and I don't see any config option where I can pass `id_token_hint`

[2020-11-18 15:18] laura-rodriguez commented on #155
That's fine. You don't have to configure the `id_token`, the SDK internally builds the logout URL passing all the required params, including the `id_token_hint`.

So, it seems you figured it out and we can close this issue. Feel free to reopen if that's not the case. Thanks!

[2020-11-18 15:18] #155 closed

[2020-12-11 14:06] cr1t opened #157 "openid-configuration issue"
Good day

We are trying to integrate OKTA SSO for a client of ours that is using OKTA.
We have used the Okta Middleware and we are using OpenID as a protocol
In there production environment there configuration file is located at https://{client}okta.com/.well-known/openid-configuration
in stead of https://{client}.okta.com/oauth2/default/.well-known/openid-configuration according to there Okta con

[2020-12-11 16:37] bryanapellanes-okta commented on #157
@cr1t ,
Thanks for reaching out and I apologize for the inconvenience.  Is there an exception occurring?  To help me understand the broader context of the problem, are you able to provide code that reproduces the issue?

[2020-12-14 07:05] cr1t commented on #157
Hi Bryan

The consultant came back and the solution is to set the AuthorizationServerId = "",

`
public class Startup
{
    public void Configuration(IAppBuilder app)
    {
        // ...
        app.UseOktaMvc(new OktaMvcOptions()
        {
            OktaDomain = ConfigurationManager.AppSettings["okta:OktaDomain"],
            ClientId = ConfigurationManager.AppSettings["okta:ClientId"],

[2020-12-14 07:05] #157 closed

[2020-12-29 12:08] chillitom commented on #71
👍 this would be extremely useful

is there a workaround?
will the associated PR be merged?

[2020-12-29 12:27] chillitom commented on #71
Here's a workaround for anyone waiting on the PR.

[code]

[2021-01-04 01:52] pesekryan1 opened #159 "Custom Domain URL"
## Current behavior
I have successfully setup authentication to my MVC web app following the instructions outlined here: https://developer.okta.com/docs/guides/sign-into-web-app/aspnetcore3/configure-packages/. On our Okta org, we have a custom URL domain configured. The custom domain is what I have configured as the OktaDomain setting. However, when a user is redirected to Okta to login, the non

[2021-01-04 02:00] #159 closed

[2021-01-04 02:01] pesekryan1 commented on #159
I figured out the issue. The problem was that the default authorization server was still set to use the non custom Issuer URL. Changing that to the custom URL solved my problem.

[2021-01-04 17:43] laura-rodriguez commented on #71
Hi @chillitom,

Thanks for your question and the workaround for folks that are waiting for this 💯 .

We have a plan to expose all the events, but I can't share an ETA at the moment, since the .NET team is currently working on different projects.

Thank you so much for your patience!

[2021-01-19 14:37] ave-303 opened #160 "Expose NameClaimType in Okta.AspNet: OktaMvcOptions"
We are making the change to Okta as our IdP within our organization.  I am working with some old solutions that rely heavily on User.Identity.Name to look up users within ASP.Membership.  The code bases also rely heavily on Roles.IsUserInRole.

The use of this seems to be tied to having the 'sub' claim set as the NameClaimType, rather than 'name'.  I have Okta providing user authentication, howeve

[2021-01-19 14:52] bryanapellanes-okta commented on #160
@ave-303,
Thanks for reaching out!  I'll add an item to our internal backlog for prioritization; meanwhile, if you're so inclined, feel free to submit a pull request with your proposed changes and we will review for inclusion in the next release.  The code you propose looks completely reasonable and sane to me.

[2021-01-19 15:17] bryanapellanes-okta commented on #160
@ave-303,
As an alternative, you might consider using the `OnTokenValidated` event to execute your custom logic.  First define the method to execute:

[code]
then set the method when other configuration options are set
[code]
Let me know if this works.  Thanks!

[2021-01-19 19:27] ave-303 commented on #160
Do you mean "SecurityTokenValidated"?  I don't have a "OnTokenValidated" even to sign up for.  Nor do I have a TokenValidatedContext.

None the less, I have access to the 'sub' claim, it's that it's not assigned to User.Identity.Name...does the code you provided assign it to User.Identity.Name?

Thanks!

[2021-01-20 14:17] ConnorJBishop commented on #160
I have a similar need but for `RoleClaimType` instead, I think if this change will be made then it should include both.

I have however found a workaround using the `OnTokenValidated` event as @bryanapellanes-okta mentioned. To customize the name/role claim type you can do this:
[code]

[2021-01-20 14:42] bryanapellanes-okta commented on #160
@ConnorJBishop
Thank you for your input!  The code you've posted should address @ave-303's needs.

@ave-303 Please also see a similar approach here: https://github.com/okta/samples-aspnetcore/compare/OKTA-361933-oktaidentity?expand=1

[2021-01-20 21:16] ave-303 commented on #160
This looks fantastic!

I just have one problem...  I am using the Okta.AspNet package...not Okta.AspNetCore package, and it looks to me that the OktaMvcOptions vary slightly between the two packages.  Namely, I don't have the OnTokenValidated event to add.  Is this equivalent to SecurityTokenValidated?

The function signatures vary slightly as well...

Okta.AspNet OktaMvcOptions:
[code]
Okta.AspNe

[2021-01-20 21:31] bryanapellanes-okta commented on #160
@ave-303,
I'm glad you have a working solution.  Feel free to follow up with any other questions.

Thanks for using Okta!

[2021-01-20 21:31] #160 closed

[2021-01-26 17:53] KeithBarrows opened #161 "System.InvalidOperationException: IDX20803: Unable to obtain configuration from: 'System.String'."
We have an Angular UI that calls a C# based Core 3.x API.  The Angular app works perfectly and I have access to everything I need from Okta.

When passing the Bearer token to the API we either get a 401 Forbidden or the following error:

 ---> System.IO.IOException: IDX20807: Unable to retrieve document from: 'System.String'. HttpResponseMessage: 'System.Net.Http.HttpResponseMessage', HttpResponse

[2021-01-26 17:59] laura-rodriguez commented on #161
Hi @KeithBarrows ,

Thanks for reaching out.

It seems your Web API configuration is not correct. In your `OktaDomain` you have to set your Org URL (something like this: `https://dev.okta.com`) instead of the issuer.  The SDK will create the issuer URI for you.

I hope this helps.

[2021-01-26 18:38] KeithBarrows commented on #161
Hi @laura-rodriguez - I changed the startup to:
[code]

In my appsettings I have:
[code]

This is now the result:

Where do I find, where do I supply, the **signature key**?

[2021-01-26 18:52] laura-rodriguez commented on #161
@KeithBarrows, your `OktaDomain` looks correct now. Can you double-check that you're using the same Authorization Server in both applications (Angular and Web API)?

If you're using the `default` authorization server, the Web API project will hit https://dev-712283.okta.com/oauth2/default/.well-known/openid-configuration to get the public keys to verify the token signature. Can you verify that thi

[2021-01-26 19:14] KeithBarrows commented on #161
Angular:
[code]

Is this what you mean by the fiddler log?  (Sessions saved as SAZ format)

[FDM Okta 01.zip](https://github.com/okta/okta-aspnet/files/5875532/FDM.Okta.01.zip)

[2021-01-26 19:20] KeithBarrows commented on #161
Opened up a few of the messages.  This might help??
![image](https://user-images.githubusercontent.com/3630422/105893854-99599f80-5fe1-11eb-9f38-ef14943e064f.png)

[2021-01-26 19:41] laura-rodriguez commented on #161
Thanks for sharing! I think the issue is in your Angular configuration. In Angular, you have to set the issuer instead of the OktaDomain. I know this might cause confusion, but Angular doesn't build the issuer URI for you.

So, in Angular your issuer configuration should be `https://{yourOktaDomain}.com/oauth2/default` (`default` is your Authz server), so update the following line: `const oktaIssu

[2021-01-26 20:43] KeithBarrows commented on #161
Fixed!

Angular:  issuer string is explicit --> https://{yourDomain}/outh2/default
.NET: issuer string is implicit -->https://{yourDomain}

The string for issuer is passed in the token and compared each step of the way IIRC.  Since Angular only had the domain, not the full URL, .NET would never match up nor could it find the `well-known` endpoint.  Simple fix in the end - **once** you know what it

[2021-01-26 20:43] #161 closed

[2021-01-27 13:40] ConnorJBishop commented on #160
Thought Id just add a quick update here. For .NET Core its even easier than I first imagined. You can simply do the following:

[code]

I knew Microsoft created the options pattern for a reason. Just make sure this placed after the `AddOktaMvc` call.

[2021-02-01 12:31] Good-man commented on #130
[code]

[code]

[2021-02-02 17:10] mrtariqmahmood opened #163 "A suite of ASP.Net MVC & ASP.Net Webforms works internal but not with Okta Dashboard"
We have a suite of web applications based on ASP.Net MVC,ASP.NET Webform ranging from framework 4.6 to 4.8 together with .Net Core 2.1. They all work fine internally once logged on can browse all sites without login prompt.

 From our site we can logon to Okta Dashborad without prompt.

As we are testing sso & like to visit other Okta based sites within our organization having within same Federati

[2021-02-02 18:24] bryanapellanes-okta commented on #163
@mrtariqmahmood,
Thanks for reaching out!  The scenario you describe is not supported out of the box.  Reach out to our support team at developers@okta.com, and they can hear the details of your use-case and discuss which options would best meet your needs.

Thanks for using Okta!

[2021-02-02 22:51] ave-303 commented on #160
@ConnorJBishop,

Any idea if this as available in ASP.Net?  I have access to the IAppBuilder in the Configuration method of Startup.cs.

[2021-02-04 10:23] SeminDM opened #164 "Compatibility with another OIDC provider"
Hello!
I want to support two OIDC identity providers in my application: Azure AD and Okta.
First question.
I noticed this line in source code: [Clear default claims](https://github.com/okta/okta-aspnet/blob/187f33eba4079bc2bbad070a61e5d99c5d9c9e94/Okta.AspNet/OktaMiddlewareExtensions.cs#L85)
Claims of Azure AD have defualt type. Does this claims cleaning break authentication by Azure AD? Now Azure

[2021-02-04 12:31] andriizhegurov-okta commented on #164
Hi @SeminDM,
Okta should be working fine with Azure AD, please let us know if you encounter any issues. Also make sure you've seen this topic on Azure AD integration: [Azure Active Directory](https://help.okta.com/en/prod/Content/Topics/Provisioning/azure/azure-integration-main.htm)

As for the second question, I will enquire internally if the workaround is possible.
Stay tuned.

[2021-02-04 13:08] SeminDM commented on #164
@andriizhegurov-okta Thank you for reply.
I mean Azure AD and Okta should authenticate independently. There is may be other OIDC/SAML/WS-Fed Idp instead of Azure AD.
It seems a little confusing but this use case should be supported.

There are several buttons on login page.
For example
Login with:
Microsoft
Okta
ADFS
...
CustomIdp
And there is no possibility to integrate Azure Active Directory ins

[2021-02-04 14:10] bryanapellanes-okta commented on #164
@SeminDM
There is no known incompatibility between Azure AD and Okta; the scenario you describe should work as intended.  Feel free to inquire further if you encounter specific issues.

[2021-02-04 14:18] andriizhegurov-okta commented on #164
@SeminDM Also please pay attention to this article on attribute mapping [https://help.okta.com/en/prod/Content/Topics/Provisioning/azure/azure-map-attributes.htm](https://help.okta.com/en/prod/Content/Topics/Provisioning/azure/azure-map-attributes.htm) this may help to resolve possible attributes incompatibility

[2021-02-04 15:02] SeminDM commented on #164
@bryanapellanes-okta @andriizhegurov-okta thank you for advice!

[2021-02-05 16:08] SeminDM opened #165 "Compatibility problem with antiforgery provider"
Hello!
In the class `OpenIdConnectAuthenticationOptionsBuilder` I noticed the [method](https://github.com/okta/okta-aspnet/blob/187f33eba4079bc2bbad070a61e5d99c5d9c9e94/Okta.AspNet/OpenIdConnectAuthenticationOptionsBuilder.cs#L137) which ensures claim `NameIdentifier` has a value. But default mvc antiforgery protector throws exception

    A claim of type 'http://schemas.xmlsoap.org/ws/2005/05/ide

[2021-02-05 16:18] bryanapellanes-okta commented on #165
@SeminDM,
Thanks for reaching out!  To help me diagnose the issue, I have some questions:

- Can you share code that reproduces the issue?
- Can you direct me to the point in the code where the exception is thrown? (link provided in comment returns no results)

[2021-02-05 16:50] SeminDM commented on #165
@bryanapellanes-okta sorry for empty link, I fixed it.
I solved problem just now. I added `email` scope and exception is gone but I don't understand why?

`Startup.cs`

    app.SetDefaultSignInAsAuthenticationType(AuthTypes.Cookies);
    app.UseCookieAuthentication(new CookieAuthenticationOptions());

    app.UseOpenIdConnectAuthentication(new OpenIdConnectAuthenticationOptions
    {
        Authe

[2021-02-05 17:23] bryanapellanes-okta commented on #165
@SeminDM,
I'm glad you were able to find a solution!  I believe the email scope is required for the "sub" scope to be included.

Thanks for using Okta!

[2021-02-05 17:23] #165 closed

[2021-02-10 15:03] briandonahue commented on #161
You saved me after hours of spinning my wheels. My issue was actually the opposite - examples showed using the root domain, but for my auth provider (OneLogin) I had to have the OIDC endpoint `/oidc/2` at the end.

[2021-02-17 10:53] SeminDM opened #166 "Okta.AspNet is not strongly-named assembly"
Hello!
I have exception

`System.IO.FileLoadException: Could not load file or assembly 'Okta.AspNet, Version=1.8.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required `

Why this library (and Okta.AspNet.Abstractions) is not strongly-named?
How to solve this problem?

[2021-02-17 12:01] andriizhegurov-okta commented on #166
Hi @SeminDM,
I guess you're referencing `Okta.AspNet` which is not currently being signed from a signed assembly. Am I correct? I will add an item to our backlog to address that case.
Meanwhile you may use [strongnamer package](https://github.com/dsplaisted/strongnamer) which solves the problem by signing what is needed.

[2021-02-17 14:06] SeminDM commented on #166
Yes, you are correct. Strongenamer breaks my app: there are several different errors with assemblies at the apllication start.

[2021-02-17 14:53] andriizhegurov-okta commented on #166
@SeminDM here is another strong name signer, you may give it a try [https://brutaldev.com/post/NET-Assembly-Strong-Name-Signer](https://brutaldev.com/post/NET-Assembly-Strong-Name-Signer)

[2021-02-17 17:45] SeminDM commented on #166
All the same. I have to refuse Okta.AspNet for the while.
Thanks for reply!

[2021-02-23 18:19] cunningham74 opened #167 "OnAuthenticationFailed not being called when user does not have access to application"
## Current behavior
User does not have access to application, when trying to access application an error stating: An unhandled exception occurred while processing the request.
OpenIdConnectProtocolException: Message contains error: 'access_denied', error_description: 'User is not assigned to the client application.', error_uri: 'error_uri is null'.

## Expected behavior
OnAuthenticationFailed even

[2021-02-23 18:32] bryanapellanes-okta commented on #167
@cunningham74,
Thank you for bringing this to our attention.  I've added an item to our backlog to address this (OKTA-372561).  Sorry for the inconvenience; we'll update here when we have additional information to share.

Thanks for using Okta!

[2021-02-26 08:55] SeminDM opened #169 "Why does Okta require to enter user credentials for sign-in after sign-out?"
Hello!
I want to understand SSO concept.
1. I signed into https://dev-...-admin.okta.com/
2. I open Loginpage of my app and press button "Login by Okta"
3. I am signed into my app **automatically** (Okta doesn't require to enter my credentials)
4. I do **log out** from my app.
5. I open Loginpage of my app and press button "Login by Okta" again.
6. Okta **requires to enter** my credentials

Why Ok

[2021-02-26 12:17] andriizhegurov-okta commented on #169
Hi @SeminDM,
In both cases whether you logged in from your App or logged into your organization's admin console, you are being authenticated by your Org Authorization Server. When you are logged out of your session from admin console, your App will again ask you for your credentials.

You can check our blog for information on SSO, for example in this article https://www.okta.com/blog/2021/02/singl

[2021-02-26 16:03] SeminDM commented on #169
I understand that if I do log out from admin console I will be log out from my app. But I don't understand why first time Okta authenticate me automatically in my app, but after **sign-out from my app** Okta requires to reenter my credentials to sign-in in the app. I don't log out from admin console at all.

[2021-03-01 22:13] andriizhegurov-okta commented on #169
@SeminDM I think your Okta session was still active at the time you ran your App.

So, you have 2 diff ways of approaching log out:

1. You can log out from your app (this basically "kills" your app cookie, but your okta session remains so next time you login and there's still an okta session cookie you won't have to enter your credentials: https://developer.okta.com/docs/guides/sign-users-out/asp

[2021-03-02 07:56] SeminDM commented on #169
@andriizhegurov-okta ok. thank you!

[2021-03-02 07:56] #169 closed

[2021-03-15 16:38] andriizhegurov-okta commented on #167
Hi @cunningham74,
`OnAuthenticationFailed` is not supposed to be called in this case because a user is correctly authenticated. It's authorization problem.
In this case you can subscribe to `OnOktaApiFailure` event.

[2021-03-23 00:48] bill-robbins-ss commented on #140
@simplecoder did you find a solution to this? Running into the exact same issue

[2021-03-23 08:39] dziedrius opened #170 "Does not handle return from okta after password reset"
## Current behavior
User starts login flow in the app and then continues to okta hosted page, where chooses forgot password option.
After clicking reset password link in email, user is redirected to okta, where he provides new password and after that user is redirected back to the app.
Problem is, that user is redirected using HTTP 302 to:
https://localhost:44314/authorization-code/callback?iss=ht

[2021-03-23 11:29] andriizhegurov-okta commented on #170
Hi @dziedrius,
Thank you for reporting the issue! I added an item to our backlog to investigate the issue and take needed actions.
I will comment here as soon as we have new information or questions.
Thanks.

[2021-03-23 14:24] andriizhegurov-okta commented on #170
@dziedrius meanwhile you might want to take a look at this similar issue and check if your App is configured as it's suggested by @bryanapellanes-okta: https://github.com/okta/samples-aspnet/issues/37

[2021-03-23 15:40] dziedrius commented on #170
@andriizhegurov-okta - thanks, that link helped me to pinpoint the issue.

Stuff below is let steam off and may be that will help someone in the future:

When creating new app you have this:
![image](https://user-images.githubusercontent.com/772162/112171728-c484f780-8bfc-11eb-85a8-109f925a4a81.png)
After creating app, if you click on edit to see this:
![image](https://user-images.githubuserconten

[2021-03-23 15:58] laura-rodriguez commented on #170
Thanks for such valuable feedback @dziedrius!

We'll definitely take it into account when working on the internal ticket we created for this issue.

[2021-03-29 12:35] andriizhegurov-okta commented on #167
Closing due to inactivity, feel free to reopen if you need additional assistance.

[2021-03-29 12:35] #167 closed

[2021-04-16 19:10] swimn10s commented on #101
Was this package ever updated to support Authorization Code + PKCE flow?  We have a similar use case to @Thialala.

[2021-04-16 21:07] laura-rodriguez commented on #101
Hi @swimn10s,

This package hasn't updated yet.

Is PKCE a blocker for you?

[2021-04-19 10:53] om2468 opened #171 "Refresh Session"
In Postman I am trying to test the Refresh Session

https://developer.okta.com/docs/reference/api/sessions/
I am taking the session token from the ASP.NET_SessionId - is this the correctID to use in the following API call?

/api/v1/sessions/${sessionId}/lifecycle/refresh

If not how to I obtain the current sessionId, thank you.

Do I need to take anything from the returned call to keep the session

[2021-04-19 12:49] bryanapellanes-okta commented on #171
@om2468,
Thanks for reaching out!  Based on the documentation, you should be able to use the ASP.NET_SessionId if it is the same value you used when the session token was created (https://developer.okta.com/docs/reference/api/sessions/#create-session-with-a-session-token):

Below is an excerpt from documentation for the `POST /api/v1/sessions` endpoint:

_Use this API if, for example, you want to

[2021-04-19 16:25] mrtariqmahmood opened #172 "Timeout after 40 mins"
Our website has started using Okta for authentication for a week now. But we are having problem, it times out after 40 mins although the Okta session is valid.

The application is .NET Framework 4.8 & uses Okta.sdk & Okta.Aspnet with Okta SignIn widget. It looks even Okta session is live the application prompts users credential. The .net session dies because id_token & access_token timeouts.

Ther

[2021-04-19 17:06] bretterer commented on #172
@mrtariqmahmood thank you for your issue report.  I have alerted the .NET team to take a look at this and we will get back to you soon.

Internal Ref: OKTA-388395

[2021-04-26 10:23] mrtariqmahmood commented on #130
I am trying the code in the post but always get tokenResponse.IsError to be true.

var tokenClient = new TokenClient(authority + "/v1/token", clientId, clientSecret);
var tokenResponse = await tokenClient.RequestAuthorizationCodeAsync(n.Code, authority);
if (tokenResponse.IsError)
{
   throw new Exception(tokenResponse.Error);
}

The error is

{"error":"invalid_grant","error_description":"The 'red

[2021-04-26 10:34] mrtariqmahmood opened #173 "Token error"
I am trying the code in the post

https://github.com/okta/okta-aspnet/issues/130

But getting

{"error":"invalid_grant","error_description":"The 'redirect_uri' does not match the redirection URI used in the authorization request."}

I have thoroughly checked redirect_uri is correctly registered

http://localhost/authorization-code/callback - both in code & at https://ienergycloud.oktapreview.com

[2021-04-26 13:49] laura-rodriguez commented on #173
Hi @mrtariqmahmood,

You need to make sure that you're considering your authorization server when building the tokens URL.
If you're using the `default` authorization server, then your token URL should look like this: `https://${yourOktaDomain}/oauth2/default/v1/token`.

Also, the `localhost` URI you posted, doesn't have any port, I don't think that's correct.

Finally, there are some useful resou

[2021-04-27 10:35] mrtariqmahmood commented on #173
Hi Laura Rodriguez

The authorization server token url is

<add key="okta:OrgUri" value=https://ienergycloud.oktapreview.com/oauth2/default />

https://ienergycloud.oktapreview.com/oauth2/default/v1/token

The localhost is running on http on default port 80 which doesn't need to mentioned in url.

<add key="okta:RedirectUri" value=http://localhost/authorization-code/callback />

The localhost url

[2021-04-27 19:53] laura-rodriguez commented on #173
Would you mind sharing what the full token request looks like? Also, a screenshot of your application configuration on your Okta side? Make sure to hide your secrets :)

[2021-06-06 13:12] Good-man commented on #130
Make sure that the grant type you're using is enabled in Okta.

On Mon, Apr 26, 2021, 6:23 AM mrtariqmahmood ***@***.***>
wrote:

[2021-06-14 14:53] tylerlemieux opened #174 "AddOktaMvc does not use a non-default Authentication Server when AuthenticationServerId is provided"
## Current behavior

AuthenticationServerId is specified in OktaMvcOptions and AddOktaMvc is called in startup, but api://default is still being used as the authentication server.

In the Okta.AspNetCore package it looks like in the middleware code the AddOktaWebApi() calls the AddJwtValidation() and the Authentication Server URL gets set, but in the middleware code for AddOktaMvc() AddJwtValidati

[2021-06-14 16:06] andriizhegurov-okta commented on #174
Thank you for reporting the issue, I've added it to our backlog for prioritization.
We'll follow up here.

[2021-06-21 18:45] tylerlemieux commented on #174
Over the weekend something that was being cached must have cleared out and the claims started being populated.  I will close the issue, thank you.

[2021-06-21 18:45] #174 closed

[2021-06-22 09:27] plqplq commented on #166
This is still an issue, I would suggest that having this security flaw present, given okta's position in the market place, is at best an embarrasment and at worst a serious vulnerability since a hacker could gain access to a customer server and replace OKTA's DLLs with their own

[2021-06-22 13:25] bryanapellanes-okta commented on #166
@plqplq,
Thanks for your input!  We've elevated the priority of this work.

[2021-07-14 17:36] andriizhegurov-okta commented on #172
@mrtariqmahmood sorry for the delay,
Could you give us more details about your App and setup by answering the following questions?

* Do you use a custom authorization server or Okta authorization server?
* You should not be prompted for credentials while Okta session is alive. Can you confirm that you was asked for credentials while there is an active sessions in another tab of the same browser a

[2021-07-15 03:15] Kilowhisky opened #175 "Add ability to set custom authentication scheme on JwtBearer"
## User story
As a API provider i want to accept multiple types of JWT Tokens so that i can serve both internal users and external users.

Assume an API handles an admin portal and a client side portal. The admin side portal authenticates with a proprietary JWT and the client side authenticates with Okta. It is currently not possible to support both authentication mechanism as .NET Core 3.1+ requi

[2021-07-15 08:24] andriizhegurov-okta commented on #175
@Kilowhisky thank you for the suggestion. I've added an internal item to review it and take needed actions.

[2021-07-23 16:26] bryanapellanes-okta commented on #173
Closing due to inactivity.  Feel free to re-open if you'd like to re-engage.

[2021-07-23 16:26] #173 closed

[2021-07-23 18:13] #171 closed

[2021-07-23 18:14] #170 closed

[2021-07-23 18:19] bryanapellanes-okta commented on #164
Closing due to inactivity.  Feel free to re-engage if issues arise.

[2021-07-23 18:19] #164 closed

[2021-07-23 18:20] #163 closed

[2021-07-23 18:21] #144 closed

[2021-07-26 13:46] bryanapellanes-okta commented on #140
This is related to #110 ; closing this issue in favor of #110.

[2021-07-26 13:46] #140 closed

[2021-07-28 14:35] laura-rodriguez commented on #172
Closing due to lack of activity. Please reopen if this is still an issue.

[2021-07-28 14:35] #172 closed

[2021-08-18 07:45] nivanov-stitan opened #177 "Unable to set all events in OpenIdConnectEvents class."
We need to setup events for all OpenIdConnectEvents for our needs.
Currently this library allow only 4 events declared in https://github.com/okta/okta-aspnet/blob/master/Okta.AspNetCore/OktaMvcOptions.cs :
- OnTokenValidated
- OnUserInformationReceived
- OnOktaApiFailure
- OnAuthenticationFailed

The part of our issues will resolve this PR https://github.com/okta/okta-aspnet/pull/110 but it's not

[2021-08-18 11:46] andriizhegurov-okta commented on #177
Hi @nivanov-stitan. Thanks for the request.
I'll add an item to our backlog for this. We'll keep you updated here.

[2021-08-18 15:19] nivanov-stitan commented on #177
Thanks

[2021-08-19 14:09] bryanapellanes-okta commented on #101
Closing due to inactivity.  If this topic is of interest feel free to reopen for further discussion.

[2021-08-19 14:09] #101 closed

[2021-08-19 16:18] bryanapellanes-okta commented on #20
Closing in favor of other more specific issues used to track documentation updates.

[2021-08-19 16:18] #20 closed

[2021-08-20 14:55] bryanapellanes-okta commented on #80
closing in favor other documentation work in flight.

[2021-08-20 14:55] #80 closed

[2021-08-20 15:41] bryanapellanes-okta commented on #7
Handled by other work either in progress or already completed.

[2021-08-20 15:41] #7 closed

[2021-09-07 18:43] m-garlapati opened #179 "Signature validation failed. when running the .net core 5 application in server but works fine locally"
I have a .net core blazor project when I run the application locally it works with http://localhost:5001. But when I publish and deploy the application to IIS on the server I am getting below error.

ERROR Microsoft.AspNetCore.Authentication.OpenIdConnect.OpenIdConnectHandler [(null)] - Exception occurred while processing message.
Microsoft.IdentityModel.Tokens.SecurityTokenInvalidSignatureExcepti

[2021-09-07 21:21] bryanapellanes-okta commented on #179
@m-garlapati,
Thanks for reaching out!  It appears that the underlying Microsoft OIDC library is failing to validate the signature of the bearer token.  Additional information on the topic can be found here: https://developer.okta.com/docs/guides/validate-access-tokens/dotnet/overview/#what-to-check-when-validating-an-access-token

To help us troubleshoot further please provide code that reproduce

[2021-09-08 13:20] m-garlapati commented on #179
Hi Bryan, I used the exact same code from this document https://developer.okta.com/blog/2019/10/16/csharp-blazor-authentication.

And on okta admin page I created custom authorization same as default auth server and I tried with both the servers but still the same issue, when I publish and deploy it remote server and configured in IIS.

From my local machine when I run the project from visual stud

[2021-09-08 13:27] bryanapellanes-okta commented on #179
@m-garlapati,
Thanks for the additional information!  I've entered an internal ticket for further investigation, we'll comment here when we have more.

[2021-09-08 13:28] m-garlapati commented on #179
Sounds good. Thank you

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bryan Apellanes ***@***.***>
Sent: Wednesday, September 8, 2021 8:27:41 AM
To: okta/okta-aspnet ***@***.***>
Cc: Mounika Garlapati ***@***.***>; Mention ***@***.***>
Subject: Re: [okta/okta-aspnet] Signature validation failed. when running the .net core 5 application in server but works fine l

[2021-09-08 19:16] m-garlapati commented on #179
Hi Bryan, I am able to reproduce the error on my local machine. When I run the application in IIS I am getting same error message.

Thanks,

Mounika Garlapati
.net Developer
    p: 312-379-2397
     f: 312-379-2397
***@***.******@***.***>
www.fidelitylife.com<http://www.fidelitylife.com>
***@***.***

From: Bryan Apellanes ***@***.***>
Sent: Wednesday, September 8, 2021 8:28 AM
To: okta/okta-aspnet

[2021-09-10 18:54] m-garlapati commented on #179
Hi Bryan, any update on the issue?

Thanks,

Mounika Garlapati
.net Developer
    p: 312-379-2397
     f: 312-379-2397
***@***.******@***.***>
www.fidelitylife.com<http://www.fidelitylife.com>
***@***.***

From: Bryan Apellanes ***@***.***>
Sent: Wednesday, September 8, 2021 8:28 AM
To: okta/okta-aspnet ***@***.***>
Cc: Mounika Garlapati ***@***.***>; Mention ***@***.***>
Subject: Re: [okta/okta-a

[2021-09-10 23:10] bkadhim commented on #166
I just ran into this issue myself and was shocked to find that this thread has been open since February. Is this likely to get fixed any time soon?

[2021-09-13 12:38] bryanapellanes-okta commented on #179
@m-garlapati,
Thanks for your patience!  This work needs to be prioritized against other work in flight; we do expect to begin this investigation soon.  We'll update here when we have a better understanding of the issue.

Thanks for using Okta!

[2021-09-13 12:45] m-garlapati commented on #179
Ok. Thank for the update

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bryan Apellanes ***@***.***>
Sent: Monday, September 13, 2021 7:38:49 AM
To: okta/okta-aspnet ***@***.***>
Cc: Mounika Garlapati ***@***.***>; Mention ***@***.***>
Subject: Re: [okta/okta-aspnet] Signature validation failed. when running the .net core 5 application in server but works fine l

[2021-09-13 16:50] bryanapellanes-okta commented on #179
@m-garlapati,
I'm working through publishing the test app to a local IIS instance.  To help me to reproduce the issue you are seeing, please provide the steps you used to publish to IIS.

[2021-09-13 16:54] m-garlapati commented on #179
Steps to publish app to IIS

  1.  Build the application
  2.  Publish the application to any folder
  3.  Create and new website and IIS app pool
  4.  From IIS website set the path to your published folder
  5.  Setup https binding and run the application

Please let me know if you have any questions.

Thanks,

Mounika Garlapati
.net Developer
    p: 312-379-2397
     f: 312-379-2397
***@***.***

[2021-09-14 12:46] bryanapellanes-okta commented on #179
@m-garlapati,
After [installing the necessary components (IIS, dotnet-hosting, etc.) and] following the steps you described, I'm not able to reproduce the behavior as described.

A couple things to double check:
- make sure the `issuer` is set correctly in your appsettings.json, note that the path **/oauth2/default** is appended.
 See https://d33wubrfki0l68.cloudfront.net/e067301e8e8b93b0f544216b5

[2021-09-14 13:35] m-garlapati commented on #179
Hi Bryan, I have set issuer to https://dev-63489489.okta.com/oauth2/aus1mvfryxlWjyFIY5d7 and added in sign in redirect uri, and yes I am using custom domain.

***@***.***

Mounika Garlapati
.net Developer
    p: 312-379-2397
     f: 312-379-2397
***@***.******@***.***>
www.fidelitylife.com<http://www.fidelitylife.com>
***@***.***

From: Bryan Apellanes ***@***.***>
Sent: Tuesday, September 14, 202

[2021-09-14 14:20] bryanapellanes-okta commented on #179
@m-garlapati,
On the surface this appears to be related to the custom domain.  Please email support@okta.com to open a support ticket and they will work with you directly to troubleshoot the issue further.

[2021-09-14 14:23] m-garlapati commented on #179
I already did that and they redirected me to you. They couldn’t figure out the issue.

Can you please explain ”On the surface this appears to be related to the custom domain”?

Thanks,

Mounika Garlapati
.net Developer
    p: 312-379-2397
     f: 312-379-2397
***@***.******@***.***>
www.fidelitylife.com<http://www.fidelitylife.com>
***@***.***

From: Bryan Apellanes ***@***.***>
Sent: Tuesday, Sep

[2021-09-14 14:27] bryanapellanes-okta commented on #179
Failure to validate the signature is generally caused by misalignment somewhere between the issuer, custom domain/url and authorization servers.

[2021-09-14 15:18] m-garlapati commented on #179
Previously I had a call with support and showed the issue they were not able to help me and then asked to create the issue https://github.com/okta/okta-aspnet/issues. I am actually going back and forth on this issue. Not sure how can I resolve this issue and this is a high priority item and we want to get this deployed to prod as soon as we can but I have been blocked on this since very long.

Sin

[2021-09-14 15:31] bryanapellanes-okta commented on #179
Exploring options for you now.

[2021-09-14 15:58] m-garlapati commented on #179
Thank you!

Mounika Garlapati
.net Developer
    p: 312-379-2397
     f: 312-379-2397
***@***.******@***.***>
www.fidelitylife.com<http://www.fidelitylife.com>
***@***.***

From: Bryan Apellanes ***@***.***>
Sent: Tuesday, September 14, 2021 10:31 AM
To: okta/okta-aspnet ***@***.***>
Cc: Mounika Garlapati ***@***.***>; Mention ***@***.***>
Subject: Re: [okta/okta-aspnet] Signature validation faile

[2021-09-14 21:08] bryanapellanes-okta commented on #179
@m-garlapati,
I'm following up with support; please provide the support ticket # that you opened for this.  I'll investigate further with support.

[2021-09-14 21:15] bryanapellanes-okta commented on #179
@m-garlapati,
Because this issue is not caused by the Sdk, there is nothing we can do in this channel.  I'm working with support to determine how to move forward.

[2021-09-14 21:18] m-garlapati commented on #179
Thank you! Support number 01188012

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Bryan Apellanes ***@***.***>
Sent: Tuesday, September 14, 2021 4:15:59 PM
To: okta/okta-aspnet ***@***.***>
Cc: Mounika Garlapati ***@***.***>; Mention ***@***.***>
Subject: Re: [okta/okta-aspnet] Signature validation failed. when running the .net core 5 application in server but w

[2021-10-05 16:40] andriizhegurov-okta commented on #166
The latest packages are strong named:
* Asp.Net v1.8.2
* Asp.Net.Abstraction v3.2.2

[2021-10-05 18:01] laura-rodriguez commented on #166
Fixed in v1.8.2

[2021-10-05 18:01] #166 closed

[2021-10-05 18:09] bryanapellanes-okta commented on #179
Support will handle.

[2021-10-05 18:09] #179 closed

[2021-10-05 18:43] andriizhegurov-okta commented on #151
Fixed in Okta.AspNetCore v3.5.1

[2021-10-05 18:43] #151 closed

[2021-10-27 16:01] agilenut opened #184 "Configuration Reload Support"
We have a requirement to be able to dynamically reload all configuration without requiring an app restart.

This would normally be accomplished by having a config like:
[code]
And then configuring the options like:
[code]

However, the Okta examples usually ask you to do:
[code]

The AddOktaWebApi method only accepts an instance of OktaWebApiOptions. There is no way to bind the okta options to the

[2021-10-29 16:10] hmble2 opened #186 "App fronted with LBP exposes app domain - fails to work"
This library works just fine when app is not fronted by lbp.
Following setup works fine without any issues:
[code]
However, when app is fronted by lbp then it fails:
[code]
Since App is in cloud, lbp forwards request to cloud router with request 'Host' header set to my-app.xyz.com so that cloud router can route request to correct app container, while URI in browser stays https://my-app.lbp.com/pro

[2021-11-02 23:47] hmble2 commented on #186
Thanks for getting back, could you please get this investigated. A possible solution: HTTP redirect using incoming HTTP Request LocalAddress Host (instead of 'Host' http request header) should resolve this issue, as incoming HTTP Request LocalAddress would be set to lbp host which is what is desirable with lbp and will continue to work in the absence of lbp.

[2021-11-05 18:21] robertdamphousse-okta commented on #186
Hi @hmble2 , for this type of ticket, please submit a support case to developers@okta.com, that is a better channel to help you debug this level of application configuration.  For this repository, we focus on issues wit this SDK itself.

[2021-11-22 19:53] ken-thompson opened #189 "IdP Discovery enablement with asp.net"
Hi, we're looking to configure IdP Discovery for ASP.net and we cannot find any documentation referring to this configuration - is it supported?

[2021-11-23 10:08] andriizhegurov-okta commented on #189
Hi @ken-thompson, IdP Discovery can't be configured using okta-aspnet library. However if you are using it with the Okta Sign-in Widget as it's shown in the [ASP.NET Core & Self-Hosted Login Page Example](https://github.com/okta/samples-aspnetcore/tree/master/samples-aspnetcore-3x/self-hosted-login), the widget will do all the discovery.
See [External Identity Providers-IdP Discovery](https://deve

[2021-11-23 14:35] ken-thompson commented on #189
thanks, would that be set within this file here as you would typically in javascript? https://github.com/okta/samples-aspnetcore/blob/master/samples-aspnetcore-3x/self-hosted-login/okta-aspnetcore-mvc-example/Views/Account/SignIn.cshtml

[2021-11-23 15:26] andriizhegurov-okta commented on #189
Yes, the widget is added to the App in this SignIn.cshtml.
If you choose to use the widget, you may also want to take a look at [Okta Sign-In Widget Guide](https://developer.okta.com/code/javascript/okta_sign-in_widget/).

[2021-12-01 18:28] #186 closed

[2021-12-03 07:57] nivanov-stitan opened #191 "Authentication schemes supporting in extension methods"
Hello.
I am using this SDK to add MVC and WebApi authentication via Okta but extension methods (AddOktaMvc and AddOktaWebApi) from this SDK does not provide possibility to pass authentication schemes like standard microsoft extension methods (AddOpenIdConnect, AddJwtBearer). It is very useful to have this opportunity when you want to use multiple authentication schemes from multiple OKTA authoriza

[2021-12-03 14:35] laura-rodriguez commented on #191
Hi @nivanov-stitan,

I transferred your issue to the right repo.

Would you mind posting what the configuration would look like for your use case? Also, can you give us more details about your use case? This will help us to understand your scenario better. Thanks!

[2021-12-03 15:04] bryanapellanes-okta commented on #127
Closing due to inactivity.

[2021-12-03 15:04] #127 closed

[2021-12-09 19:54] laura-rodriguez commented on #71
OIDC and JWT events are now exposed. This feature is available in Okta.AspNet 2.0.0 and Okta.AspNetCore 4.0.0. Fixed in #187.

[2021-12-09 19:54] #71 closed

[2021-12-09 20:06] laura-rodriguez commented on #137
Closing due to inactivity. Feel free to reopen if it's necessary.

[2021-12-09 20:06] #137 closed

[2021-12-09 20:08] laura-rodriguez commented on #177
OIDC and JWT events are now exposed. This feature is available in Okta.AspNet 2.0.0 and Okta.AspNetCore 4.0.0. Fixed in #187.

[2021-12-09 20:08] #177 closed

[2021-12-20 20:47] timsun4 opened #194 "Validating Access Token on ClientId"
Hello,

I have a use case where there are multiple applications (.NET Core Web APIs) on the same domain. Since they are sharing a domain I have configured separate access policies for each application under a shared custom auth server. To prevent users from generating a valid token on one application and using it for another, I would like to validate the access token passed to my APIs.

From what

[2021-12-21 13:32] bryanapellanes-okta commented on #194
@timsun4,
Thanks for reaching out!  Please provide a sample project/solution illustrating the proposed structure and desired API calls; we will need to review your request more closely to determine the best practice approach to accomplish your use case.  I've opened an internal item for tracking: OKTA-456050

[2021-12-21 16:21] bryanapellanes-okta commented on #194
@timsun4,
Thank you for the additional details.  Please review the `introspect` endpoint documentation found here: https://developer.okta.com/docs/reference/api/oidc/#introspect.  This will provide additional details about a given token; will this help you to implement your use case?

[2021-12-21 16:58] timsun4 commented on #194
@bryanapellanes-okta
Thanks for the link, tried a few requests to /introspect.
It looks like if the provided client_id in the param does not match the client_id in the token then it returns "active": false. If they do match then "active": true. It appears that this does help us distinguish between valid/invalid tokens in our use case.

[2021-12-31 11:05] thepherm commented on #71
Thank you!

[2022-01-04 13:33] bryanapellanes-okta commented on #194
@timsun4  Closing issue.  Feel free to open a new issue if you need help with anything else.

[2022-01-04 13:33] #194 closed

[2022-01-04 23:31] aperlstein commented on #116
We are running into an issue where are unable to set the cookie lifetime for a custom application, we believe because of this issue.  Is there any update when the flag will be updated?

[2022-01-20 17:46] josepth30 opened #196 ".NET integration returns empty claim"
### Describe the bug?

Hello,

We have a problem with a .Net Framework integration with a self-hosted page. The problem we have is that after the user authenticates, it returns empty claims. I checked the configuration and everything is according to the documentation.

We are using a NetScaler to balance the traffic, the app is hosted on an IIS server, when we run it locally it works, but in IIS t

[2022-01-20 19:09] laura-rodriguez commented on #196
Hi @josepth30,

Thanks for your issue. Considering all the parts involved in your application (load balancers, IIS, Okta Org, etc) I suggest reaching out to support (developers@okta.com) so they can help you to debug your application.

[2022-01-20 19:20] josepth30 commented on #196
Thank you very much @laura-rodriguez. I going to send the issue to (developers@okta.com)

[2022-01-20 19:40] laura-rodriguez commented on #196
Sounds good, feel free to reopen if it's applicable.

[2022-01-20 19:40] #196 closed

[2022-01-27 08:30] nivanov-stitan commented on #191
Hi @laura-rodriguez
For instance, we have two API (API1 and API2) which protected by separate Authorization servers for each of them. Those APIs host in single web application. Also we have client applications which should have access to API1 or API2. To authorize clients web application should support both Okta authorization servers, which protects APIs.

[2022-01-31 23:55] josepth30 commented on #196
Hello Lau.

I have had no response from the Okta developers. Could you help me with the problem?

Thanks

Regards.

[2022-02-01 13:47] laura-rodriguez commented on #196
Hi @josepth30,

I apologize for the inconvenience.
Let me try to reach out to the corresponding team for you.

Thanks,

[2022-02-01 16:04] bdemers opened #197 "Simplify boilerplate configuration for web and api applicaitons"
### Describe the feature request?

The default configuration needed to initialize an API (or web) application can be reduced/simplified for basic use cases.

* `OktaWebApiOptions` should allow the caller to set the `Issuer` instead of requiring both the `OktaDomain` and the `AuthorizationServerId` (this could be done backward compatible and not affect existing users).

* `Configuration` parameters

[2022-02-01 18:10] monde commented on #197
Thanks @bdemers

[2022-03-22 16:57] agilenut commented on #197
I like the idea to support binding to a single Issuer URL in addition to the OktaDomain and AuthorizationServerId. I also like the idea to support a default configuration section name.

As mentioned in the PR, #184 mentions other concerns with configuration which is that, not only does it not support configuration binding, but it does not support configuration reload.

Also, we should be careful a

[2022-03-23 19:22] hokiepokedad2 opened #199 "JwtBearer.dll 3.1.1 vulnerability CVE-2021-34532"
### Describe the bug?

Our security scans have detected the vulnerability published at https://github.com/dotnet/announcements/issues/195 is present with the Okta.AspNetCore project. There is a reference to Microsoft.AspNetCore.Authentication.JwtBearer.dll@3.1.1 which is directly affected.

### What is expected to happen?

The CVE is no longer identified during scans.

### What is the actual behav

[2022-03-25 15:04] laura-rodriguez commented on #199
Hi @hokiepokedad2 ,
Thanks for reporting this issue! Our team will look into it soon.

[2022-03-30 15:25] laura-rodriguez commented on #199
Fixed in 4.1.0

[2022-04-18 19:41] burnchar opened #202 "Highly recommended guide is 404"
### Describe the bug?

This guide link is a 404:
https://developer.okta.com/docs/guides/sign-into-web-app/aspnet/before-you-begin/

### What is expected to happen?

The link works.

### What is the actual behavior?

404.

### Reproduction Steps?

Click the link from [okta-aspnet](https://github.com/okta/okta-aspnet) readme.md.

### Additional Information?

_No response_

### .NET Version

N/A

###

[2022-04-19 12:54] bryanapellanes-okta commented on #202
@burnchar Thanks for bringing this to our attention.

[2022-04-19 22:50] Tankatronic commented on #191
@laura-rodriguez

We also could use this feature. In our use case, our company is a part of a larger organization and we are trying to allow API calls from a sister company that uses Okta as its authority while our APIs currently use IdentityServer for its authority. The desire was for an API to accept a bearer token both from Okta and IdentityServer, so we need to support multiple schemes for tha

[2022-05-03 19:54] laura-rodriguez commented on #191
@Tankatronic we merged your PR already (#205) and a [new package has been released](https://www.nuget.org/packages/Okta.AspNetCore/4.2.0). Thank you so much for your contribution! ⭐ 🎉

Superseded by #205

[2022-05-03 19:54] #191 closed

[2022-05-03 20:12] laura-rodriguez commented on #113
You can now configure the authentication type for both WebAPi and MVC apps which enables the multitenancy scenario:

public void Configuration(IAppBuilder app)
        {
            app.SetDefaultSignInAsAuthenticationType(CookieAuthenticationDefaults.AuthenticationType);

            app.UseCookieAuthentication(new CookieAuthenticationOptions
            {
                AuthenticationType = "Co

[2022-05-03 20:12] #113 closed

[2022-05-03 20:31] laura-rodriguez commented on #175
Fixed in [Okta.AspNet 3.0.0](https://www.nuget.org/packages/Okta.AspNet/3.0.0) and [Okta.AspNetCore 4.2.0](https://www.nuget.org/packages/Okta.AspNetCore/4.2.0).

[2022-05-03 20:31] #175 closed

[2022-05-24 18:20] aaronpk commented on #101
fwiw PKCE is not an alternative to a client secret and should always be included even for server-side apps with a client secret.

https://oauth.net/2/pkce/

https://datatracker.ietf.org/doc/html/draft-ietf-oauth-security-topics-19#section-2.1.1

[2022-05-25 17:44] qidydl opened #212 "Invalid NuGet dependencies results in immediate crash"
### Describe the bug?

In the latest 4.2.0 release, Okta.AspNet.Abstractions [updated its dependency on System.IdentityModel.Tokens.Jwt](https://github.com/okta/okta-aspnet/compare/Okta.AspNetCore%404.1.0...Okta.AspNetCore%404.2.0#diff-ae7fbea8798f93e3d1d78bdaf026e08bdff4ae01ebf3e633985c6a0d51bc1978), but [no new package was released](https://www.nuget.org/packages/Okta.AspNet.Abstractions/). As a

[2022-05-26 12:30] bryanapellanes-okta commented on #212
@qidydl,
Thanks for bringing this to our attention and I apologize for the inconvenience.  I've opened an internal ticket to address this: OKTA-501764

[2022-05-31 14:56] #212 closed

[2022-05-31 15:11] laura-rodriguez commented on #212
Thanks @qidydl for reporting this! A new version was already released.
https://www.nuget.org/packages/Okta.AspNet.Abstractions/4.0.1

[2022-06-05 10:02] sunefred commented on #184
I would like this as well. This has the added benefit of allowing ASP .NET Core to deslerialize the `OktaWebApiOptions` directly from appsettings, rather than rely on (possibly misspelled) strings.

Hardcoded strings
[code]

Let ASP .NET Core deserialize based on `OktaWebApiOptions`
[code]

A common pattern is to supply a `DefaultOptionsKey` as a const with a value "Okta" in this case.

[2022-06-20 06:50] nicoduj opened #214 "Proxy configuration not working ?"
### Describe the bug?

Hi,

We are testing Okta integration in our applications, and our component needs a corporate proxy to access the internet, otherwise we get the following error :

We tried the option mentionned in the doc : [https://github.com/okta/okta-aspnet/blob/master/docs/aspnet4x-mvc.md#proxy-configuration](Proxy configuration), but it did not work. We did not have any BackchannelHttp

[2022-06-20 14:02] laura-rodriguez commented on #214
Hi @nicoduj,

Thanks for reporting this issue. I'll file an internal ticket so our team can review and prioritize. In the meantime, it seems you found a valid workaround, right?

[2022-06-20 14:10] nicoduj commented on #214
Hi,

Yes the workaround is ok for us I also noticed that our nugget is in 2.0, did not have time to check in 3.0 so might be good there. So no hurry on this, might also be because of our custom proxy / environment. I wanted to log it there with the workaround just in case !

[2022-06-20 14:12] laura-rodriguez commented on #214
Sounds good! Let us know how it goes with 3.0.

[2022-06-22 17:18] brentlyjdavid opened #216 "OpenIdConnect "OnRedirectToIdentityProvider" event with Custom Event Data not showing up in the Okta Widget on Okta Hosted Login Page"
### Describe the bug?

Using the .AddOktaMvc method, we are trying to add custom properties to the request object in order to add a custom button in javascript on the okta hosted login page.

Here is my event code:

[code]

The problem is when I get to the Okta hosted login page, and use

[code]
The values I put into the property items array never show up anywhere to use.

### What is expected to

[2022-06-22 17:20] brentlyjdavid commented on #216
Also, that productId is going to be dynamic, so a static URL won't work for us here.  We need to be able to add this item to the request and get it, so when we add a 'Register' button on the Okta Widget hosted by Okta, we can preserve the original productId they were attempting to get to.

[2022-06-22 19:02] laura-rodriguez commented on #216
Hi @brentlyjdavid,

Thanks for reporting this.

Would you mind sharing what `OktaUtil.getRequestContext();` looks like? We have an integration test that does something similar to what you wanna do, maybe you might wanna consider that approach?

* Set a custom property https://github.com/okta/okta-aspnet/blob/master/Okta.AspNetCore.Mvc.IntegrationTest/Startup.cs#L38

* Get custom property https://g

[2022-06-22 20:05] brentlyjdavid commented on #216
Hi @laura-rodriguez

To be clear, this problem is specific to getting the values back using the Okta Widget.  These custom values are only needed so we can use them to build a dynamic URL so we can add a 'register' button to the Okta Hosted Widget.  We want to maintain a product that they clicked on, normally we'd just use the query parameters, but they get hidden from us on the Okta Hosted page.

[2022-06-22 20:34] laura-rodriguez commented on #216
Thanks for clarifying.  I believe this is a question for the SIW team. Basically, we need to know how you get custom properties that are being sent from the client.

Do you have a Fiddler log that shows what the request to Okta looks like? Is the custom property being sent by the client? I can transfer your issue to the SIW repo if you confirm this.

[2022-06-23 14:01] brentlyjdavid commented on #216
I will work on getting a log of some kind this morning.

[2022-06-23 15:17] brentlyjdavid commented on #216
hi @laura-rodriguez

Here is the URL that gets generated before Okta Hides it.  Some items omitted again for confidential/discoverability

https://{oktaDomain}/oauth2/default/v1/authorize?client_id={clientId}&redirect_uri=https%3A%2F%2Flocalhost%3A44399%2FAuthenticationUserPortal%2Fauthorization-code%2Fcallback&response_type=code&scope=openid%20profile&code_challenge={codeChallenge}&code_challenge

[2022-06-23 15:29] laura-rodriguez commented on #216
Thanks for checking @brentlyjdavid. I'll transfer your issue to the SIW repo.

[2022-06-23 15:32] laura-rodriguez commented on #216
Sorry @brentlyjdavid, it seems I cannot transfer your issue to that specific repo. Can you please file a new issue [here](https://github.com/okta/okta-auth-js)? I'm gonna close this one.

[2022-06-23 15:39] brentlyjdavid commented on #216
Yes, i just linked it to this one, i think it's ok to close here.

[2022-06-23 15:39] #216 closed

[2022-07-13 16:55] laura-rodriguez commented on #214
Fixed in 3.0.1

[2022-07-13 16:55] #214 closed

[2022-07-13 16:56] laura-rodriguez commented on #40
won't do

[2022-07-13 16:56] #40 closed

[2022-10-05 22:52] qidydl commented on #212
Please note that just releasing a new version of Okta.AspNet.Abstractions didn't entirely fix this issue, because Okta.AspNet itself also needed to be updated to reference that new version of Okta.AspNet.Abstractions. However, this has now happened with Okta.AspNet version 3.0.1 and up, so the problem was actually resolved on July 13th and I can confirm it's no longer affecting us.